<span>Статьи</span>
<span class="breadcrumps">
    {% for item in item_list %}
        <span>&rarr;</span>
        {% if item.url %}<a href="{{ item.url }}">{% endif %}{{ item.title|truncatechars:max_length }}{% if item.url %}</a>{% endif %}
    {% endfor %}
</span>
        