{% load i18n %}
<div class="top-menu">
    <div class="wrap-item-menu">
        <span>
            <a {% if request.path == "/" %}class="top-menu-active"{% endif %} href="/">{% trans "Home" %}</a>
            <div class="triangle">
                <span>{% if request.path == "/" %}▲{% endif %}</span>
            </div>
        </span>
    </div>
    <div class="wrap-item-menu">
        <span>
            <a {% if "/news/" in request.path %}class="top-menu-active"{% endif %} href="/news/">{% trans "News" %}</a>
            <div class="triangle">
                <span>{% if "/news/" in request.path %}▲{% endif %}</span>
            </div>
        </span>
    </div>
    <div class="wrap-item-menu">
        <span>
            <a {% if "/media/" in request.path %}class="top-menu-active"{% endif %} href="/events/">{% trans "Events" %}</a>
            <div class="triangle">
                <span>{% if "/media/" in request.path %}▲{% endif %}</span>
            </div>
        </span>
    </div>
    <div class="wrap-item-menu">
        <span>
            <a {% if "/clubs/" in request.path %}class="top-menu-active"{% endif %} href="/clubs/">{% trans "Sport clubs" %}</a>
            <div class="triangle">
                <span>{% if "/clubs/" in request.path %}▲{% endif %}</span>
            </div>
        </span>
    </div>
    <div class="wrap-item-menu">
        <span>
            <a {% if "/rules/" in request.path %}class="top-menu-active"{% endif %} href="/rules/">{% trans "Sports rules" %}</a>
            <div class="triangle">
                <span>{% if "/rules/" in request.path %}▲{% endif %}</span>
            </div>
        </span>
    </div>
    <div class="wrap-item-menu">
        <span>
            <a {% if "/articles/" in request.path %}class="top-menu-active"{% endif %} href="/articles/">{% trans "Articles" %}</a>
            <div class="triangle">
                <span>{% if "/articles/" in request.path %}▲{% endif %}</span>
            </div>
        </span>
    </div>

</div>