{% extends "base.html" %}

{% load pymorphy_tags sekizai_tags %}

{% block page_title %}Поиск клуба по-близости{% endblock %}

{% block page_description %}Поиск клуба по-близости{% endblock %}

{% block page_keywords %}Поиск клуба по-близости{% endblock %}

{% block search_club %}
    <div class="search-club">
        <span><a href="{% url "clubs:around" %}">Поиск клуба по близости</a></span>
    </div>
{% endblock %}

{% block content %}
	<div class="form-description">
		Здесь можно подобрать интересующий вас спортивный клуб, находящийся не далее заданного расстояния от вашего дома.
			<form class="create-club-form" method="GET">
			<table>
			<tr>
				<td>
					<select id="id_city" class="field-form" name="city" placeholder="Ваш город">
						<option class="selected" selected="selected" value="{{ request.location.pk }}">{{ request.location }}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><input id="id_address" class="field-form" type="text" placeholder="Ваш адрес" maxlength="100" name="address" value="{{request.GET.address}}"></td>
			</tr>
			<tr>
				<td>
					<select id="id_sports" class="field-form" multiple="multiple" name="sports">
						{% for sport in sports %}
						<option class="selected" selected="selected" value="{{ sport.pk }}">{{ sport }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><input id="id_distance" class="field-form" type="text" placeholder="Расстояние до клуба в км" maxlength="3" name="distance" value="{{ request.GET.distance }}"></td>
			</tr>
			<tr>
				<td><button class="create-event-button" type="submit">Найти</button></td>
			</tr>
			
			
			</table>
		</form>
	</div>

    {% include "clubs/include_list.html" %}
    
    {% addtoblock "css" %}
   <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}css/fcbkinput.css"> 
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.fcbkcomplete.js"></script>
    <script>
        $(document).ready(function(){
         $("#id_city").fcbkcomplete({
            json_url:'{% url "get-city-list" %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 1,
            complete_text:"Введите название города",
            });
           
         $("#id_sports").fcbkcomplete({
            json_url:'{% url "get-sport-list" %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 100,
            complete_text:"Введите вид спорта",
            });
    
       });
   </script>
{% endaddtoblock %}
    
{% endblock %}

{% block  breadcrumbs %}
    {% if not city %}
        <h1>Поиск клуба по-близости</h1>
    {% else %}
        <h1>Клубы {{ city|inflect:"рд" }} в близи {{ address }}</h1>
    {% endif %}
{% endblock %}
