{% extends "base.html" %}

{% load thumbnail sekizai_tags %}

{% block meta %}
    {{ club.meta_tags }}
{% endblock %}

{% block  breadcrumbs %}
    <h1>Спортивные клубы</h1>
{% endblock %}

{% block search_club %}
    <div class="search-club">
        <span><a href="{#% url "clubs:around" %#}">Поиск клуба по близости</a></span>
    </div>
{% endblock %}

{% block content %}
<div class="main-content article-text club-detail">

    <h1>{{ club.get_title }}</h1>
    <div class="info">
        <span class="tags tag-info">
           {% spaceless %}
                <a href="{#% url "filters:tagged-clubs" %#}?city={{ club.city.id }}">{{club.city}}</a>
                   
{% endspaceless %}{% for sport in club.sports.all %}, 
                        <a href="{#% url "filters:tagged-clubs" %#}?{{ sport.slug }}=on">{{ sport }}</a>{% endfor %}
        </span>
        {% if club.comment_count %}
            <a href="{{ club.get_absolute_url }}#comments" class="comments">{{ club.comment_count }}</a>
        {% endif %}
    </div>
    <div class="article-content">
        {{ club.html_content|safe }}
    </div>
    <div class="article-contacts">
        <strong>Адрес: </strong> {{ club.city }}, {{ club.address }}{% if club.phones %}. <strong>тел. {{ club.phones }}{% endif %}</strong>
    </div>
    {% if club.site %}
    <div class="article-site">
         <noindex>
            <strong>Сайт: </strong>
            <a rel="nofollow" target="__blank" href="{{ club.site }}">{{ club.site }}</a>
        </noindex>
    </div>
    {% endif %}

    <div id="map" class="article-map" style="width: 620px; height: 250px">
        
    </div>
    
    <script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){     
        myMap = new ymaps.Map ("map", {
            center: [{{ club.lat|stringformat:"f" }}, {{ club.long|stringformat:"f" }}],
            zoom: 13,
        });
        myMap.controls.add(
                    new ymaps.control.ZoomControl()
                );
                
        myPlacemark = new ymaps.Placemark([{{ club.lat|stringformat:"f" }}, {{ club.long|stringformat:"f" }}], { 
            content: '{{ club.title }}', 
            balloonContent: '{{ club.title }}' 
        });

        myMap.geoObjects.add(myPlacemark);
    }
</script>
    
    <div class="likes-wrap">
        {% include "likes.html" %}   
    </div>

</div>
{% endblock %}




{% block comments %}
    {% if club.enable_comments %}
        <div class="comments-block">
            <span>Комментарии:</span>
        </div>
    {% endif %}
{% endblock %}


{% block navigation %}
<div class="navigation">

    <div class="head-nav article-head-nav">
        Меню клуба
    </div>
    {% include "clubs/club_menu.html" %}

</div>
{% endblock %}

