{% extends "base.html" %}


{% block content %}
    <div class="main-content">
    {% for club in club_list %}
        {% include "clubs/club_include.html" %}
    {% endfor %}
</div>
{% endblock %}

{% block  breadcrumbs %}
    <h1>Все спортивные клубы</h1>
{% endblock %}

{% block footer_link %}
    <a href="{#% url "clubs:sitemap" %#}">Клубы в городах</a>
{% endblock footer_link %}


{% block search_club %}
    <div class="search-club">
        <span><a href="{#% url "clubs:around" %#}">Поиск клуба по близости</a></span>
    </div>
{% endblock %}
