{% extends "base.html" %}

{% load i18n sekizai_tags thumbnail %}

{% block meta %}
    <title>
        {% if club %}
            {% trans "Edit club" %}
        {% else %}
            {% trans "Create club" %}
        {% endif %}
    </title>
{% endblock %}

{% block  breadcrumbs %}
    <h1>
        {% if club %}
            {% trans "Edit club" %}
        {% else %}
            {% trans "Create club" %}
        {% endif %}
    </h1>
{% endblock %}

{% block search_club %}
    <div class="search-club">
        <span><a href="{#% url "clubs:around" %#}">{% trans "Find clubs around" %}</a></span>
    </div>
{% endblock %}

{% block content %}
{% if not club %}
    <div class="form-description">
    Здесь вы можете добавить спортивный клуб, секцию или целый спорткомплекс в каталог спортивных клубов. После добавления вы всегда сможете отредактировать информацию, если нашли ошибку.<br>
    О вашей спортивной секции узнают ещё больше людей. Вам будет проще набрать группу и привлечь новых спортсменов, которые всегда смогут найти на нашем сайте контакты и связаться с Вами.
    </div>
{% endif %}

<form class="create-club-form common-form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    {{ form }}
</form>

{% endblock %}

{% block banner1 %}

{% endblock banner1 %}






