{% load thumbnail %}


<div class="wrap-news{% if forloop.last %} list-last{% endif %}">
    <table>
        <tr>
            <td class="col1">
               {% if club.logo %}
                <div class="td-img">
                    {% thumbnail club.logo "140x100" crop="center" as img %}
                        <img src="{{ img.url }}" alt="{{ club.title }}">
                    {% endthumbnail %}
                </div>
                {% elif club.screenshot %}
                <div class="td-img">
                    {#% thumbnail club.screenshot "140x100" crop="center" as im %#}
                        <img src="{{im.url}}" alt="{{club.title}}">
                    {#% endthumbnail %#}
                </div>
                {% endif %}
            </td>
            <td>
                <h1><a href="{{ club.get_absolute_url }}">{{ club.get_title }}</a></h1>
                <div class="info">
                    <span class="tags tag-info"><a href="{#% url "filters:tagged-clubs" %#}?city={{ club.city.id }}">{{club.city}}</a>
                        {% for sport in club.sports.all %}, <a href="{% url "clubs:sport" slug=sport.slug %}">{{ sport }}</a>{% endfor %}
                    </span>
                </div>
                <div class="text-news">
                    <div class="article-contacts">
                        <strong>Адрес: </strong> {{ club.city }}, {{ club.address }}.{% if club.phones %} <strong>тел. {{ club.phones }}{% endif %}</strong>
                    </div>
                    {% if club.site %}
                    <div class="article-site">
                        <strong>Сайт: </strong> <noindex><a target="__blank" href="{{ club.site }}" rel="nofollow">{{ club.site }}</a></noindex>
                    </div>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
</div>