{% extends "base.html" %}

{% load tagging_tags  thumbnail %}



{% block  breadcrumbs %}
    <h1>Удаление клуба</h1>
{% endblock %}

{% block content %}
<div class="main-content article-text">

    <h1>{{ club.title }}</h1>
    <div class="info">
        <a href="#" class="date">{{ club.date|date:"j E - H:i" }}</a>
        <a href="#commetns" class="comments">{{ club.comments.count }}</a>
        {% tags_for_object club as tag_list %}
        {% if tag_list %}
        <span class="tags">
            {% for tag in tag_list %}
                <a href="/tag/all/{{tag}}">{{tag}}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
    </div>
    <div class="article-content">
        {{ club.description }}
    </div>
    <div class="article-contacts">
        <strong>Адрес: </strong> {{ club.address }} <strong>тел.</strong> {{ club.phones }}
    </div>
    <div class="article-site">
        <strong>Сайт: </strong> <a href="{{ club.site }}">{{ club.site }}</a>
    </div>
    

    <div class="article-map">
        
    </div>
    
</div>
<form method="POST" action="">{% csrf_token %}
    <button type="submit" class="create-event-button">Удалить</button>
</form>
{% endblock %}


