<div class="content-nav">
    <div class="paddin-content-nav">
        <div class="wrap-content-nav">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            {% if request.user in club.admins.all %}
                            <a class="add-item-nav" href="{#% url "clubs:create" %#}">Добавить</a>
                            {% endif %}
                            <a href="{% url "clubs:coaches" slug=club.slug %}">Тренеры</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paddin-content-nav">
        <div class="wrap-content-nav">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            {% if request.user in club.admins.all %}
                            <a class="add-item-nav" href="{#% url "clubs:create" %#}">Добавить</a>
                            {% endif %}
                            <a href="{#% url "accounts:events" pk=user.pk %#}">Мои события</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paddin-content-nav">
        <div class="wrap-content-nav">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            {% if request.user in club.admins.all %}
                            <a class="add-item-nav" href="{#% url "clubs:create" %#}">Добавить</a>
                            {% endif %}
                            <a href="{#% url "accounts:news" pk=user.pk %#}">Мои новости</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if request.user in club.admins.all %}
    <div class="paddin-content-nav">
        <div class="wrap-content-nav list-last">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            <a href="{#% url "accounts:settings" pk=user.pk %#}">Настройки</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
</div>