{% load thumbnail i18n %}

<div class="wrap-news{% if forloop.last %} list-last{% endif %}">
    <table>
        <tr>
            <td class="col1">
               {% if article.image %}
                <div class="td-img">
                    {% thumbnail article.image "140x100" crop="center" as img %}
                        <img src="{{img.url}}" alt="{{article.title}}">
                    {% endthumbnail %}
                </div>
               {% endif %}
            </td>
            <td>
                <h1>
                    <a href="{{ article.get_absolute_url }}">{{ article.get_title }}</a>
                </h1>
                <div class="info">
                    <span class="tags">
                        {{ article.categories_as_tags }}
                    </span>

                    {% if article.comment_count %}
                        <a href="{{ article.get_absolute_url }}#comments" class="comments">{{ article.comment_count }}</a>
                    {% endif %}

                    {% with tags=article.get_tags %}
                        {% if tags %}
                            <span class="tags">
                                {{ tags }}
                            </span>
                        {% endif %}
                    {% endwith %}
                    <span class="views" title="{% trans "Views count" %}">{{ article.views_count }}</span>
                </div>
                <div class="text-news">
                    {{ article.get_description }}
                </div>
            </td>
        </tr>
    </table>
</div>