{% extends "base.html" %}

{% load  thumbnail i18n hitcount_tags %}


{% block meta %}
    {{ article.meta_tags }}
{% endblock %}

{% block  breadcrumbs %}
    <span><a href="{% url "articles:index" %}">{% trans "Articles" %}</a></span> &raquo; {{ article.title }}
{% endblock %}



{% block content %}
     {% render_hitcount_javascript for article %}

<div class="main-content article-text">

    <h1>{{ article.get_title }}{{ article.gallery }}</h1>
    <div class="info">
        <span class="tags">
            {{ article.categories_as_tags }}
        </span>

        {% if article.comment_count %}
            <a href="{{ article.get_absolute_url }}#comments" class="comments">{{ article.comment_count }}</a>
        {% endif %}
        
        {% with tags=article.get_tags %}
            {% if tags %}
                <span class="tags">
                    {{ tags }}
                </span>
            {% endif %}
        {% endwith %}

        <span class="views">{{ article.views_count }}</span>
    </div>
    <div class="article-content">
        {{ article.content|safe }}
    </div>

    {% include "gallery_include.html" with gallery=article.gallery %}

    <div class="likes-wrap">
        {% include "likes.html" %}
    </div>
</div>
{% endblock %}


{% block navigation %}
    {% if article.related_articles.count %}
    <div class="navigation">

        <div class="head-nav article-head-nav">
            Похожие статьи
        </div>
        <div class="content-nav">
            {% for related_article in article.get_related|slice:":8" %}
                    <div class="paddin-content-nav">
                        <div class="wrap-content-nav">
                            <table>
                                <tr>
                                    <td class="img-nav">
                                        {% if related_article.image %}
                                        <div class="img-wrap">
                                            {% thumbnail related_article.image "60x60" crop="center" as im %}
                                                <img src="{{im.url}}" alt="{{related_article.title}}">
                                            {% endthumbnail %}
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="text-nav">
                                            <a href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}




{% block comments %}
    {% if article.enable_comments %}
        <div class="comments-block">
            <span id="comments"><a href="#comments"></a>Комментарии:</span>
            {#% render_comment_list for article %#}
            {#% render_comment_form for article %#}
        </div>
    {% endif %}
{% endblock %}


{% block banner2 %}
	{#% show_banner "under_article" %#}
{% endblock banner2 %}


{% block sape %}
<div id="sape-block">
   {#% sape_links request %#}
</div>
{% endblock %}

