{% extends "base.html" %}

{% load i18n article_tags %}


{% block  breadcrumbs %}
    <span>{% trans "Popular articles" %}</span>
{% endblock %}


{% block club_buttons %}
{% endblock %}


{% block navigation %}
{% endblock %}


{% block lenta %}
    {% get_categories as categories %}
    <div class="navigation">
        <div class="head-gallery"> {% trans "Categories" %} </div>

        <div class="content-nav-line">
            {% for cat in categories %}
            <div class="paddin-content-nav">
                <div class="wrap-content-nav ">
                    <table>
                        <tr>
                            <td class="img-nav img-line">
                            </td>
                            <td>
                                <div class="text-nav"><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block content %}
    {% get_popular_articles as popular_articles %}
    <div class="main-content">
        {% for article in popular_articles %}
            {% include "articles/article_in_list.html" %}
        {% endfor %}
    </div>
{% endblock %}


