{% load tagging_tags thumbnail comments %}

<div class="article-popular">
    {% for article, count in article_list %}
    <div class="wrap-news{% if forloop.last %} list-last{% endif %}">
        <table>
            <tr>
                <td class="col1">
                   {% if article.image %}
                    <div class="td-img">
                        {% thumbnail article.image "140x100" crop="center" as im %}
                            <img src="{{im.url}}" alt="{{rule.title}}">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                </td>
                <td>
                    <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a> </h1>
                        <div class="info">
                            <a href="#" class="date">{{ article.date|date:"j E - H:i" }}</a>
                            
                            {% get_comment_count for article as comment_count %}
                            {% if comment_count %}
                                <a href="{{ article.get_absolute_url }}#comments" class="comments">{{ comment_count }}</a>
                            {% endif %}
                            
                            {% tags_for_object article as tag_list %}
                            {% if tag_list %}
                            <span class="tags">
                                {% for tag in tag_list|slice:":2" %}
                                    <a href="{% url "filters:tagged-articles" %}?{{ tag.id }}=on">{{tag}}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                            {% endif %}
                            <span class="views">{{ count }}</span>
                        </div>
                    <div class="text-news">
                        {{ article.description }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>


