{% extends "base.html" %}

{% load i18n %}


{% block meta %}
    {{ category.meta_tags }}
{% endblock %}

{% block  breadcrumbs %}
    <span><a href="{% url "articles:index" %}">{% trans "Articles" %}</a></span> &raquo; {{ tag }}
{% endblock %}


{% block content %}
    <div class="main-content">
        {% for article in tag.articles.published %}
            {% include "articles/article_in_list.html" %}
        {% endfor %}
    </div>
{% endblock %}


