{% load thumbnail %}

<div class="content-nav">
{% for update in last_updates %}
    <div class="paddin-content-nav">
        <div class="wrap-content-nav{% if forloop.last %} list-last{% endif %}">
            <table>
                <tr>
                    <td class="img-nav">
                        {% if update.image %}
                        <div class="img-wrap"
                            {% thumbnail update.image "60x60" crop="center" as img %}
                            style="background: url({{img.url}}) no-repeat"
                            {% endthumbnail %}
                        >
                            
                                
                            
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="date-nav">{{ update.date|date:"d.m.Y" }}</div>
                        <div class="text-nav"><a href="{{ update.get_absolute_url }}">{{ update.title }}</a></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endfor %}
</div>
