{% extends "base.html" %}

{% load tagging_tags menu_tags thumbnail %}
{% load sekizai_tags hitcount_tags comments %}

{% block page_title %}{{ update.title }}{% endblock %}

{% block content %}

{% addtoblock "js" %}
<script type="text/javascript">
    $(document).ready(function() {
        {% get_hit_count_javascript for update %}
    });
</script>
{% endaddtoblock %}
{% csrf_token %}

<div class="main-content article-text">

    <h1>{{ update.title }}</h1>
    <div class="info">
        <a href="#" class="date">{{ update.date|date:"j E - H:i" }}</a>
        <a href="#commetns" class="comments">{{ update.comments.count }}</a>
        {% tags_for_object update as tag_list %}
        {% if tag_list %}
        <span class="tags">
            {% for tag in tag_list %}
                <a href="/tag/all/{{tag}}">{{tag}}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
    </div>
    <div class="article-content">
        {{ update.body|safe }}
    </div>
</div>
{% endblock %}

{% block comments %}
    {% if update.enable_comments %}
        <div class="comments-block">
            <span>Комментарии:</span>
            {% render_comment_list for update %}
            {% render_comment_form for update %}
        </div>
    {% endif %}
{% endblock %}

{% block  breadcrumbs %}
    <span>Обновления сайта</span>
{% endblock %}


