{% extends "base.html" %}

{% load tagging_tags thumbnail menu_tags %}

{% block page_title %}Обновления сайта sclubs.ru{% endblock %}

{% block content %}
<div class="main-content">
    {% for update in update_list %}
    <div class="wrap-news{% if forloop.last %} list-last{% endif %}">
        <table>
            <tr>
                <td>
                   {% if update.image %}
                    <div class="td-img">
                        {% thumbnail update.image "140x100" crop="center" as im %}
                            <img src="{{im.url}}" alt="{{rule.title}}">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                </td>
                <td>
                    <h1><a href="{{ update.get_absolute_url }}">{{ update.title }}</a></h1>
                    <div class="info">
                        {% tags_for_object update as tag_list %}
                        {% if tag_list %} 
                        <span class="tags">
                            {% for tag in tag_list %}
                                <a href="/tag/all/{{tag}}">{{tag}}</a>{% if not forloop.last %}, {% endif %}
                                        
                            {% endfor %}
                        </span>
                        {% endif %}
                    </div>
                    <div class="text-news">
                        {{ update.description }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}



{% block  breadcrumbs %}
    <span>Обновления сайта</span>
{% endblock %}