body{
    color: #000;
    width:100%;
    font-family:arial, san-serif;
    font-size: 14px;
}

h1,h2,h3{
    color: #87888A;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-style:normal;
}

table th{
    text-align: left;
    vertical-align:top;
    padding:5px;
    font-weight:bold;
}

table td{
    padding:4px;
}


fieldset{
    border: 1px solid #87888A;
    font-size: 15px;
    padding: 5px;
}

strong{
	font-weight:bold;
}

em{
	font-style:italic;
}

.fixheight:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.main{
    margin: 0 auto;
    position: relative;
    width:890px;
    -webkit-box-shadow: 0px 0px 11px 0px gray;
    -moz-box-shadow: 0px 0px 11px 0px gray;
    box-shadow: 0px 0px 11px 0px gray;  
     min-width: 890px; /* для нормальных браузеров*/
}

.top-menu {
    background: none repeat scroll 0 0 lightslategrey;
    height: 25px;
    line-height: 22px;
    padding: 0 25px;
}

.top-menu a{
    color:#FFF;
    text-decoration:none;
    font-weight:bold;
    padding:0px 10px;
}

.top-menu a:hover{
    color:#FFF;
    text-decoration:underline;
    font-weight:bold;
    padding:0px 10px;
}


.head {
    border: 1px solid black;
    height: 160px;
}

.sidebar {
    border-radius: 5px 5px 5px 5px;
    float: left;
    width: 210px;
    -webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.1);      
}

.content {
    border-radius: 5px 5px 5px 5px;
    margin-left: 220px;
    padding: 15px;
    -webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.1);      
}

footer {
    background: none repeat scroll 0 0 lightslategrey;
    height: 50px;
}

.wrap-content {
    padding: 5px;
}

.sidebar ul {
    list-style: none outside none;
    margin: 0 15px 10px;
}

.sidebar ul li {
    border-bottom: 1px solid grey;
    padding: 8px 0;
}

.sidebar ul li span{
    background: none repeat scroll 0 0 lightslategrey;
    border-radius: 3px 3px 3px 3px;
    display: block;
    padding: 6px;
}


.container {
}


.sidebar a {
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.left{
    float:left;
}

.right{
    float:right;
}

.edit-admin, .plus-admin {
    float: right;
    padding-right: 10px;
}


.adv {
    font-weight: bold;
    padding: 28px 0;
    text-decoration: underline;
    cursor:pointer;
}

.adv-admin-article{
    display:none;
}

.admin-article input, .adv-admin-article input{
    border: 1px solid grey;
    padding: 3px;
    width: 230px;
}

.admin-article select, .adv-admin-article select {
    border: 1px solid grey;
    padding: 3px;
    width: 237px;
}

.admin-article textarea, .adv-admin-article textarea {
    border: 1px solid grey;
    padding: 3px;
    height: 140px;
    width: 513px;
}

.error {
    color: red;
    font-size: 10px;
    font-style: italic;
}

.fieldmenu, .fieldmain{
    float: left;
    height: 195px;
    width: 282px;
    margin-bottom: 15px;
}

.fieldmenu ul, .fieldmain ul{
     list-style: none outside none;
}
.fieldmenu ul li, .fieldmain ul li{
    padding: 4px 0;
}

.wrapfield {
    height: 10px;
    margin: 0 auto;
    width: 605px;
}

.fieldmenu {
    margin-left: 10px;
}


.help {
    font-size: 11px;
    font-style: italic;
    padding-left: 10px;
    color:green;
}

.container.fixheight a {
    color: #004EB8;
    line-height: 150%;
    text-decoration: none;
}

.container.fixheight a:hover {
    color:#004EB8;
    text-decoration:underline;
}

.tablecont th.namearticle {
    width: 48%;
}

.tablecont td.namearticle {
    text-align:left;
}


.tablecont {
    width: 100%;
}

.tablecont td{
    border:solid 1px grey;
    text-align:center;
}

.tablecont td  img{
    padding: 2px 4px;
}


.tablecont th{
    font-size:12px;
    text-align:center;
}


.ifcat{
	display:block;
}

.ifart{
	display:none;
}

.view {
    background: url("/media/img/icons.png") no-repeat scroll -20px 0 transparent;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.cat-mark {
    background: url("/media/img/icons.png") no-repeat scroll -81px 1px transparent;
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    margin-right: 11px;
    vertical-align: bottom;
    width: 16px;
}

.art-mark {
    background: url("/media/img/icons.png") no-repeat scroll -61px 0 transparent;
    display: inline-block;
    height: 16px;
    margin-left: 31px;
    margin-right: 11px;
    vertical-align: middle;
    width: 16px;
}

.art-mark-nocat{
    background: url("/media/img/icons.png") no-repeat scroll 0px 0 transparent;
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    margin-right: 11px;
    vertical-align: middle;
    width: 16px;
}

#gallery table{
    width:100%;
}

#gallery table td{
    text-align:center;
    width:33%;
    vertical-align: top;    
}

#gallery img{
    border:1px solid grey;
}

span.image-title, span.album-name{
    display:block;
}


.td-wrap {
    margin: 0 auto;
    position: relative;
    width: 202px;
}


#album-edit {
    background: url("/media/img/icons.png") no-repeat scroll -40px -19px transparent;
    display: block;
    height: 18px;
    position: absolute;
    right: 35px;
    top: 9px;
    width: 18px;
	display: none;
}

.image-del{
    background: url("/media/img/icons.png") no-repeat scroll -40px -39px transparent;
    display: block;
    height: 18px;
    position: absolute;
    right: 35px;
    top: 9px;
    width: 18px;
	display: none;
}

.image-notify {
    color: red;
    font-weight: bold;
    padding-top: 30px;
}