body{
}

.autocomplete-suggestions {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBCBC;
}

.autocomplete-selected {
    background: #3A96FF;
    color:#fff;
}

#id_tags{
	width:250px;
}


input[type="text"], input[type="file"] {
    font-size: 14px;
    padding: 6px 5px;
    width: 500px !important;
}

iframe{
	width: 900px !important;
	height: 200px !important;
}

input.vDateField, input.vTimeField{
	width:100px !important;
}

textarea#id_description{
	width:900px;
	height:55px;
}

ul.holder{
	width: 475px !important;
}


#id_username {
    font-size: 11px;
    padding: 2px 3px;
    width: 14em !important;
}