{% extends "base.html" %}

{% load tagging_tags thumbnail %}

{% block filters %}
<div class="filter-tab">
    
    <div class="left-bg{% ifequal filter "all" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal filter "all" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal filter "all" %} bg-active{% endifequal %}">
                <a href="{% url "events:index" %}" id="fl-tab2">Все</a>
            </div>
        </div>
    </div>
    
    <div class="left-bg{% ifequal filter "today" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal filter "today" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal filter "today" %} bg-active{% endifequal %}">
                <a href="{% url "events:today" %}" id="fl-tab2">Сегодня</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal filter "future" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal filter "future" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal filter "future" %} bg-active{% endifequal %}">
                <a href="{% url "events:future" %}" id="fl-tab2">Будущие</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal filter "last" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal filter "last" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal filter "last" %} bg-active{% endifequal %}">
                <a href="{% url "events:last" %}" id="fl-tab2">Прошедшие</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block content %}
<div class="main-content">
    {% for event in event_list %}
    <div class="wrap-news{% if forloop.last %} list-last{% endif %}">
        <table>
            <tr>
                <td>
                   {% if event.logo %}
                    <div class="td-img">
                        {% thumbnail event.logo "140x100" crop="center" as im %}
                            <img src="{{im.url}}" alt="{{event.title}}">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                </td>
                <td>
                    <h1><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h1>
                    <div class="info">
                        <a href="#" class="date">{{ event.date }}</a>
                        <span class="tags tag-info">
                            <a href="{% url "filters:tagged-events" %}?city={{ event.city.id }}">{{event.city}}</a>,
                            <a href="{% url "filters:tagged-events" %}?{{ event.sport.tag.id }}=on">{{event.sport.tag}}</a>
                        </span>
                        
                    </div>
                    <div class="text-news">
                        {{ event.city }}, {{ event.address }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}



