{% extends "base.html" %}

{% load tagging_tags menu_tags thumbnail %}
{% load sekizai_tags widget_tweaks %}

{% block page_title %}Добавление спортивного события{% endblock %}
{% block page_keywords %}добавить спортивное событие, добавить спортивное соревнование{% endblock %}
{% block page_description %}Если вы знаете дату и место проведения интересного спортивного мероприятия, здесь Вы сможете дать знать о нем многим кому это будет интересно{% endblock %}

{% block content %}
<div class="form-description">
Вы попали на страницу добавления спортивного события. Спортивным событием чаще всего будут являться спортивные соревнования, но также можно добавить иное спортивное событие, имеющее официальный документ, подтверждающий дату и место проведения.
<p>Мы стремимся давать качесвенную и достоверную информацию посетителям сайта, поэтому для добавления спортивного события Вам обязательно нужно загрузить положение на соревнование или другой документ для проверки подлинности. После модерации Ваше спортивное событие будет отображаться на главной странице.
<p>Используйте эту функцию если хотите пригласить больше зрителей или участников на соревнования или иное мероприятие. Положение на соревнования всегда будет доступно для загрузки на странице описания вашего спортивного события.
</div>
<form class="add-event-form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
<table>
        <tr>
            <td>{{ form.title|append_attr:"placeholder:Название события"|add_class:"field-form"|add_error_class:"errordata" }}</td><td>{{ form.city }}</td>
        </tr>
        <tr>
            <td>{{ form.sport|add_class:"field-form" }}</td>
            <td>{{ form.address|append_attr:"placeholder:Адрес места проведения"|add_class:"field-form"|add_error_class:"errordata" }}</td>
        </tr>
        <tr>
            <td>{{ form.date|append_attr:"placeholder:Дата проведения"|add_class:"field-form"|add_error_class:"errordata"|add_class:"datepicker" }}</td>
            <td>{{ form.phone|append_attr:"placeholder:Контактный телефон"|add_class:"field-form"|add_error_class:"errordata" }}</td>
        </tr>
        <tr>
            <td>
                <div class="hide-input-file">
                    <input id="wrap-doc-event" class="field-form" type="text" value="Загрузите положение" name="wrap-doc-event">
                    {{ form.doc|append_attr:"id:doc-event"|add_error_class:"errordata" }}
                    <div class="review">Обзор...</div>
                </div>    
            </td>
            
            <td>{{ form.email|append_attr:"placeholder:Ваш email"|add_class:"field-form"|add_error_class:"errordata" }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form.description|append_attr:"placeholder:Описание события"|add_class:"field-form"|add_error_class:"errordata" }}</td>
        </tr>
        <tr>
        <td>{{ form.captcha|add_class:"field-form"|add_error_class:"errordata" }}<button type="submit" class="create-event-button">Добавить</button></td><td></td>
        </tr>
    
</table>

</form>

<span class="error-form">{{form.non_field_errors.0|safe}}</span>

{% addtoblock "css" %}
   <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/fcbkinput.css"> 
   <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.9.2.custom.min.css">
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fcbkcomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-ru.js"></script>
    <script>
        $(document).ready(function(){
         $("#id_city").fcbkcomplete({
            json_url:'{% url "get-city-list" %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 1,
            complete_text:"Введите название города",
            });
           
         $("#id_{{ form.sport.html_name }}").fcbkcomplete({
            json_url:'{% url "get-sport-list" %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 100,
            complete_text:"Введите вид спорта",
            });
    
       });


        $(function(){
            $.datepicker.setDefaults(
                $.extend($.datepicker.regional["ru"])
        );
        $(".datepicker").datepicker();

});      

   </script>
{% endaddtoblock %}



{% endblock %}



{% block  breadcrumbs %}
    <span>Добавление события</span>
{% endblock %}

{% block banner1 %}

{% endblock banner1 %}




