{% extends "base.html" %}

{% load tagging_tags thumbnail %}
{% load sekizai_tags hitcount_tags pymorphy_tags banner_tags %}

{% block page_title %}{{ event.title }} в {{event.city|inflect:"пр"}}{% endblock %}

{% block page_description %}{{ event.description }}{% endblock %}

{% block page_keywords %}{{ event.title }}, {{ event.city }}, {{ event.sport }}{% endblock %}

{% block  breadcrumbs %}
    <span>События</span>
{% endblock %}


{% block content %}

    {# Enable hit counting #}
    {% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% get_hit_count_javascript for event %}
        });
    </script>
    {% endaddtoblock %}
    {% csrf_token %}



<div class="main-content article-text">

    <h1>{{ event.title }}</h1>
    <div class="info">
        <a href="#" class="date">{{ event.date }}</a>
        <span class="tags tag-info">
                <a href="{% url "filters:tagged-events" %}?city={{ event.city.id }}">{{event.city}}</a>,
                <a href="{% url "filters:tagged-events" %}?{{ event.sport.tag.id }}=on">{{event.sport.tag}}</a>
        </span>
        
    </div>
    
    <div class="article-content">
                <span>Адрес:  </span>
                г. {{event.city}}, {{event.address}}.<br>
                {% if event.phone %}<strong>Тел.:</strong> {{event.phone}}<br>{% endif %}
                {% if event.doc %}
                <strong>Положение:</strong> <a href="{{event.doc.url}}">скачать</a> ({{ event.doc.size|filesizeformat }})<br><br>
                {% endif %}
                <span>Описание события:</span><br>{{ event.description|linebreaks }}
    </div>
    <div class="likes-wrap"> 
        {% include "likes.html" %} 
    </div>    
</div>
{% endblock %}

{% block banner2 %}
    {% show_banner "under_article" %}
{% endblock banner2 %}


{% block comments %}
{% endblock %}
