{% load thumbnail %}

<div class="content-nav">
    <div class="add-event">
        <span>+ </span><a href="{% url "events:event-create" %}">Добавить событие</a>
    </div>

{% for event in future_events %}
    <div class="paddin-content-nav">
        <div class="wrap-content-nav{% if forloop.last %} list-last{% endif %}">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="date-nav">{{ event.date|date:"d.m.Y" }}</div>
                        <div class="text-nav"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endfor %}

    <div class="all-events">
        <a href="{% url "events:index" %}">Посмотреть все события</a> <span>({{ count }})</span>
    </div>    
</div>
