{% extends "gallery/base_list.html" %}

{% load tagging_tags thumbnail %}
{% load sekizai_tags hitcount_tags  %}


{% block page_title %}
    {% if filter == "popular" %}
        {{ album.title }} популярные
    {% elif filter == "video" %}
        {{ album.title }} видео
    {% elif filter == "foto" %}
        {{ album.title }} фото
    {% else %}
        {{ album.title }} фото и видео
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if filter == "popular" %}
        {{ album.title }} популярные
    {% elif filter == "video" %}
        {{ album.title }} видео
    {% elif filter == "foto" %}
        {{ album.title }} фото
    {% else %}
        {{ album.title }} фото и видео
    {% endif %}
{% endblock %}


{% block page_keywords %}
    {% if filter == "popular" %}
        {{ album.title }} популярные
    {% elif filter == "video" %}
        {{ album.title }} видео
    {% elif filter == "foto" %}
        {{ album.title }} фото
    {% else %}
        {{ album.title }} фото и видео
    {% endif %}
{% endblock %}


{% block  breadcrumbs %}
    {% if filter == "popular" %}
    
    {% elif filter == "video" %}
    {% elif filter == "foto" %}
    {% else %}
        <h1>{{ album.title }}</h1>
    {% endif %}
{% endblock %}

{% block content %}
    {% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% get_hit_count_javascript for album %}
        });
    </script>
    {% endaddtoblock %}
    {% csrf_token %}
    
    {{ block.super }}

{% endblock %}





