{% extends "gallery/base_list.html" %}

{% load tagging_tags thumbnail menu_tags %}

{% block page_title %}Видео и фото альбомы спортивных соревнований{% endblock %}

{% block page_description %}Видео и фото альбомы спортивных соревнований{% endblock %}

{% block page_keywords %}Видео и фото альбомы спортивных соревнований{% endblock %}


{% block  breadcrumbs %}
    <h1>Медиа</h1>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="media-content">
        <table>
            <tr>
            {% for album in item_list %}
            {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                <td>
                    <div class="wrap-media-img">
                        <a href="{{ album.get_absolute_url }}">
                            
                            {% thumbnail  album.get_head "180x130" crop="center" as im %}
                                <img src="{{im.url}}" alt="{{ album.title }}">
                            {% endthumbnail %}
                            
                        <div class="media-desc">
                            <a href="{{ album.get_absolute_url }}">{{ album.title }}</a>
                        </div>
                    </div>
                </td>
                
            {% if forloop.counter|divisibleby:"3" or forloop.last %}</tr>{% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}



