{% extends "base.html" %}

{% load tagging_tags thumbnail %}
{% load sekizai_tags hitcount_tags  %}


{% block page_title %}base list{% endblock %}

{% block  breadcrumbs %}
    <h1>{{ album.title }}</h1>
{% endblock %}


{% block filters %}
   {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/highslide.css">
        <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/highslide-ie6.css">
    {% endaddtoblock %}
    
    {% addtoblock "js" %}
        <script type="text/javascript" src="{{STATIC_URL}}js/highslide-full.js"></script> 
    {% endaddtoblock %}

<div class="filter-tab">
    <div class="left-bg{% if filter == "all" %} bg-active{% endif %}">
        <div class="right-bg{% if filter == "all" %} bg-active{% endif %}">
            <div class="fl-tab center-bg {% if filter == "all" %} bg-active{% endif %}">
                {% if album %}
                <a href="{% url "gallery:album-detail" pk=album.id %}" id="fl-tab1">Все</a>
                {% else %}
                <a href="{% url "gallery:index" %}" id="fl-tab1">Альбомы</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="left-bg{% if filter == "popular" %} bg-active{% endif %}">
        <div class="right-bg{% if filter == "popular" %} bg-active{% endif %}">
            <div class="fl-tab center-bg{% if filter == "popular" %} bg-active{% endif %}">
                {% if album %}
                <a href="{% url "gallery:album-filter" pk=album.id filter="popular" %}" id="fl-tab2">Популярные</a>
                {% else %}
                <a href="{% url "gallery:media-filter" filter="popular" %}" id="fl-tab2">Популярное</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="left-bg{% if filter == "video" %} bg-active{% endif %}">
        <div class="right-bg{% if filter == "video" %} bg-active{% endif %}">
            <div class="fl-tab center-bg{% if filter == "video" %} bg-active{% endif %}">
                {% if album %}
                <a href="{% url "gallery:album-filter" pk=album.id filter="video" %}" id="fl-tab3">Видео</a>
                {% else %}
                <a href="{% url "gallery:media-filter" filter="video" %}" id="fl-tab3">Видео</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="left-bg{% if filter == "foto" %} bg-active{% endif %}">
        <div class="right-bg{% if filter == "foto" %} bg-active{% endif %}">
            <div class="fl-tab center-bg{% if filter == "foto" %} bg-active{% endif %}">
                {% if album %}
                <a href="{% url "gallery:album-filter" pk=album.id filter="foto" %}" id="fl-tab4">Фото</a>
                {% else %}
                <a href="{% url "gallery:media-filter" filter="foto" %}" id="fl-tab4">Фото</a>
                {% endif %}

            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block content %}

<div class="main-content">
    <div class="media-content">
        <table>
            <tr>
            {% for item in item_list %}
            {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                <td>
                    <div class="wrap-media-img">
                        
                        {% if item.image %}
                        <a class="thumb highslide" onclick="return hs.expand(this)" href="{{ item.image.url }}">
                            {% thumbnail item.image "180x130" crop="center" as im %}
                                <img src="{{im.url}}" alt="{{item.title|default:item.album.title}}">
                            {% endthumbnail %}
                        </a>
                        {% else %}
                        <a  href="{{ item.get_absolute_url }}">
                            {% thumbnail item.preview "180x130" crop="center" as im %}
                                <img src="{{im.url}}" alt="{{item.title|default:item.album.title}}">
                            {% endthumbnail %}
                        </a>
                        {% endif %}
                        <div class="media-desc">
                            <a href="{{ item.get_absolute_url }}">{{ item.title|default:item.album.title }}</a>
                        </div>
                        <div class="media-icon"><img src="{{ STATIC_URL }}img/{% if item.image %}photo{% else %}video{% endif %}-icon.png" alt=""></div>
                    </div>
                </td>
                
            {% if forloop.counter|divisibleby:"3" or forloop.last %}</tr>{% endif %}
            {% empty %}
            {% if filter == "video" %}
                <td>Видео материалы не найдены</td>
            {% elif filter == "foto" %}
                <td>Изображения не найдены</td>
            {% elif filter == "popular" %}
                <td>Нет популярных файлов</td>
            {% else %}
                <td>Альбом пуст</td>
            {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}




