{% extends "base.html" %}

{% load tagging_tags thumbnail %}
{% load sekizai_tags hitcount_tags comments %}

{% block page_title %}{% if foto.title %}{{ foto.title }} фото{% else %}Фото {{ foto.id }} из альбома {{foto.album.title}}{% endif %}{% endblock %}

{% block page_description %}{% if foto.title %}{{ foto.title }} фото{% else %}Фото {{ foto.id }} из альбома {{foto.album.title}}{% endif %}{% endblock %}

{% block page_keywords %}
    {% if foto.title %}{{ foto.title }} фото{% else %}Фото {{ foto.id }} из альбома {{foto.album.title}}{% endif %}, 
    {% if foto.city %}{{ foto.city }}{% elif foto.album.city %}{{ foto.album.city }}{% endif %}, 
    {% for sport in foto.sports.all %}{{ sport.tag }},{% endfor %}
{% endblock %}

{% block  breadcrumbs %}
    <h1>{{ foto.title|default:foto.album }}</h1>
{% endblock %}


{% block content %}

    {# Enable hit counting #}
    {% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% get_hit_count_javascript for foto %}
        });
    </script>
    {% endaddtoblock %}
    {% csrf_token %}
<div class="main-content">


    <div class="media-content">
        <h2>{{ foto.title }}</h2>
        <a class="back" href="{{ foto.album.get_absolute_url }}">&larr; к альбому</a>
        <span class="date">{{ foto.date|date:"Y" }}</span>
        <div class="video-block">
            {% thumbnail foto.image "620" quality=80 as im %}
            <img src="{{ im.url }}">
            {% endthumbnail %}
        </div>
        <div class="info">
            <span class="tags">
                    {% if foto.city %}
                    <a href="{% url "filters:tagged-media" %}?city={{foto.city.id}}">{{ foto.city }}</a>,
                    {% elif foto.album.city %}
                    <a href="{% url "filters:tagged-media" %}?city={{foto.album.city.id}}">{{ foto.album.city }}</a>,
                    {% endif %}
                    {% for sport in foto.sports.all|default:foto.album.sports.all %}
                        <a href="{% url "filters:tagged-media" %}?{{sport.tag.id}}=on">{{ sport }}</a>
                    {% endfor %}
            </span>
        </div>
        

                            
    </div>
</div>

{% endblock %}

{% block comments %}
    {% if not foto.enable_comments %}
        <div class="comments-block">
            <span>Комментарии:</span>
            {% render_comment_list for foto %}
            {% render_comment_form for foto %}
        </div>
    {% endif %}
{% endblock %}


