{% extends "base.html" %}

{% load tagging_tags thumbnail %}
{% load sekizai_tags hitcount_tags comments %}

{% block page_title %}{{ video.title }} видео{% endblock %}

{% block page_description %}{{ video.description }}{% endblock %}

{% block page_keywords %}
    {{ video.title }} фото, 
    {% if video.city %}{{ video.city }}{% elif video.album.city %}{{ video.album.city }}{% endif %}, 
    {% for sport in video.sports.all %}{{ sport.tag }},{% endfor %}
{% endblock %}

{% block  breadcrumbs %}
    <h1>{{ video.album.title }}</h1>
{% endblock %}


{% block content %}

    
    {% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% get_hit_count_javascript for video %}
        });
    </script>
    {% endaddtoblock %}
    {% csrf_token %}
    
<div class="main-content">
    <div class="media-content">
        <h2>{{ video.title }}</h2>
        <a class="back" href="{{ video.album.get_absolute_url }}">&larr; к альбому</a>
        <span class="date">{{ video.date|date:"d.m.Y" }}</span>
        <div class="video-block">
            {% if video.file %}
                Here we should add player for video file
            {% else %}
                <iframe width="620" height="465" src="http://www.youtube.com/embed/{{ video.youtube|safe }}"
                 frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>
        <div class="info">
            <span class="tags">
                    {% if video.city %}
                    <a href="{% url "filters:tagged-media" %}?city={{video.city.id}}">{{ video.city }}</a>,
                    {% elif video.album.city %}
                    <a href="{% url "filters:tagged-media" %}?city={{video.album.city.id}}">{{ video.album.city }}</a>,
                    {% endif %}
                    {% for sport in video.sports.all %}
                        <a href="{% url "filters:tagged-media" %}?{{sport.tag.id}}=on">{{ sport }}</a>
                    {% endfor %}
            </span>
        </div>
        <div class="text-video">
            <h2>Описание видео:</h2>
            {{ video.description }}
        <div class="likes-wrap">
            {% include "likes.html" %}
        </div>            
        </div>

                            
    </div>
</div>

{% endblock %}

{% block comments %}
    {% if not video.enable_comments %}
        <div class="comments-block">
            <span>Комментарии:</span>
            {% render_comment_list for video %}
            {% render_comment_form for video %}
        </div>
    {% endif %}
{% endblock %}


