{% load menu_tags %}
<ul>
{% for child in children %}
<li{% if child.selected %} class="li-active{% if forloop.last %} last{% endif %}"
            {% elif forloop.last%} class="last"{% endif %}>
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
	
</li>
{% endfor %}
</ul>
