{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
О проекте - sclubs.ru
{% endblock %}

{% block  breadcrumbs %}
    <span>О проекте</span>
{% endblock %}

{% block content %}
<div class="main-content article-text">
    <div class="article-content">
        <h1></h1>
        <p>
            Спасибо, за проявленый интерес.
    </div>
</div>    
{% endblock %}