{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
Шаблон конструктор base для сайта sclubs.ru
{% endblock %}


{% block page_keywords %}
конструктор сайтов
{% endblock %}

{% block  breadcrumbs %}
    <span>О проекте</span>
{% endblock %}

{% block content %}
<div class="main-content article-text">
    <div class="article-content">
        <h1></h1>
        <p>
            Функция по созданию сайта для спортивного клуба будет доступна в ближашее время.
        В данный момент вы можете добавить свою спортивную секцию или клуб в <a href="{% url "clubs:create" %}">каталог</a>.<br><br>
        <p>
            Оставьте нам свой e-mail и мы оповестим Вас сразу же, как только будет запущен конструктор сайтов.
        <form action="" method="post" class="add-event-form">{% csrf_token %}
            {{form.email|add_class:"field-form"|append_attr:"placeholder:Ваш e-mail"}}
            <button class="create-event-button" type="submit">Подписаться</button>
        </form>

    </div>
</div>    
{% endblock %}
