{% load sekizai_tags %}

{% addtoblock "js"  %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>

{% endaddtoblock %}

<form id="post-comment-form" action="{% url "ajax-comment-post" %}" method="post" class="comments-form">{% csrf_token %}
    <div><input type="hidden" name="next" value="{{ request.path }}" /></div>
    {% for field in form %}
        {% if not field.is_hidden %}
        <span{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>{{ field.label }}</span>
        {% endif %}
        {% ifequal field.name "honeypot" %}<div style="display: none">{% endifequal %}
            {% if request.user.is_authenticated and field.name == "captcha" %}
                
            {% else %}
                {{ field }}
            {% endif %}
        {% ifequal field.name "honeypot" %}</div>{% endifequal %}

    {% endfor %}
    <button id="send-comments" class="send-comments" name="send_comments" type="submit">Отправить</button>
    <div class="error_comments"></div>
</form>

