

{% for comment in comment_list %}
    <div class="wrap-comments-answ" id="{{ comment.id }}">
    {% if not comment.parent %}
        <div class="wrap-comments" >
                <div class="head-comments">
                    <span id="name">{{ comment.user.first_name|default:comment.user_name }}</span>
                    <a id="answer_{{ comment.id }}" href="#{{ comment.id }}">Ответить</a>
                </div>
                <div class="body-comments">
                     {{ comment.comment }}
                </div>
        </div>
    {% endif %}
    {% for answer in comment.answers.all %}
    <div class="wrap-comments-answer" id="{{ answer.id }}">
            <div class="head-comments">
                {{ answer.user.first_name|default:answer.user_name }}
            </div>
            <div class="body-comments">
                {{ answer.comment }} 
                
            </div>
        </div>
    {% endfor %}
     </div>    
{% endfor %}



{% if comment.parent %}
    <div class="wrap-comments-answer" id="{{ comment.id }}">
        <div class="head-comments">
            {{ comment.user.first_name|default:comment.user_name }}
        </div>
        <div class="body-comments">
            {{ comment.comment }} 
        </div>
    </div>
{% elif comment %}
    <div class="wrap-comments-answ" id="{{ comment.id }}">
        <div class="wrap-comments" >
                <div class="head-comments">
                    <span id="name">{{ comment.user.first_name|default:comment.user_name }}</span>
                    <a id="answer_{{ comment.id }}" href="#{{ comment.id }}">Ответить</a>
                </div>
                <div class="body-comments">
                     {{ comment.comment }}
                </div>
        </div>
    </div>
{% endif %}