{% extends "base.html" %}

{% load tagging_tags menu_tags thumbnail %}
{% load sekizai_tags widget_tweaks %}

{% block page_title %}Добавление новости{% endblock %}

{% block page_description %}Здесь можно добавить новость с фильтром по городам и видам спорта{% endblock %}

{% block page_keywords %}добавление новости спорта{% endblock %}


{% block  breadcrumbs %}
    <h1>{% if entry %}Редактирование новости{% else %}Добавление новости{% endif %}</h1>
{% endblock %}

{% block search_club %}
    <div class="search-club">
        <span><a href="{% url "clubs:around" %}">Поиск клуба по близости</a></span>
    </div>
{% endblock %}

{% block content %}
{% if not entry %}
<div class="form-description">
Здесь вы можете добавить спортивную новость<br>
Вашу новость прочтет много людей.
</div>
{% endif %}
<form class="create-club-form" action="" method="POST" enctype="multipart/form-data" onsubmit="yaCounter14471560.reachGoal('CLUB_SUBMIT'); return true;"> {% csrf_token %}
<table>
    <tr>
        <td>{{ form.title|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Заголовок" }}<span class="example">Пример: Состоялся чемпионат мира по боксу</span></td>
    </tr>
    
    <tr>
        <td>{{ form.description|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Краткое описание" }}</td>
    </tr>
    <tr>
        <td>{{ form.body|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Текст статьи" }}</td>
    </tr>
    <tr>
        <td>
            <div class="hide-input-file">
            <input id="wrap-doc-event"  class="field-form"
                                        type="text"
                                        value="Загрузите изображение"
                                        name="wrap-doc-event">
            {{ form.image|append_attr:"id:doc-event"|add_error_class:"errordata" }}
            <div class="review">Обзор...</div>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>{{ form.sports|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Виды спорта" }}</td>
    </tr>
    <tr>
        <td>{{ form.city|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Города" }}</td>
    </tr>
    <tr>
        <td>{{ form.original|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Ссылка на оригинал" }}</td>
    </tr>    
    <tr>
        <td>{{ form.tags|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Теги" }}</td>
    </tr>
    <tr>
        <td>{{ form.captcha|add_class:"field-form"|add_error_class:"errordata" }}</td>
    </tr>  
    <tr>
        <td>
            <button type="submit" class="create-event-button">{% if entry %}Сохранить{% else %}Добавить{% endif %}</button>
        </td>
    </tr>
</table>
    {{ form.site }}
</form>

{% addtoblock "js" %}

    {{ form.media.js }}
    
    <script>
        $(document).ready(function(){
         $("#id_{{ form.city.html_name }}").fcbkcomplete({
            json_url:'{% url "get-city-list" %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 100,
            complete_text:"Введите название городов",
            });
           
         $("#id_{{ form.sports.html_name }}").fcbkcomplete({
            json_url:'{% url "get-sport-list" %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 100,
            complete_text:"Введите виды спорта",
            });
    
       });
   </script>
{% endaddtoblock %}



{% endblock %}

{% block banner1 %}

{% endblock banner1 %}






