{% load tagging_tags thumbnail comments %}
<div class="wrap-news{% if forloop.last %} list-last{% endif %}">
    <table>
        <tr>
            <td class="col1">
               {% if entry.image %}
                <div class="td-img">
                    {% thumbnail entry.image "140x100" crop="center" as im %}
                        <img src="{{im.url}}" alt="{{entry.title}}">
                    {% endthumbnail %}
                </div>
                {% endif %}
            </td>
            <td>
                <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
                <div class="info">
                    <a href="#" class="date">{{ entry.date|date:"j E - H:i" }}</a>
                    {% get_comment_count for entry as comment_count %}
                    {% if comment_count %}
                    <a href="{{ entry.get_absolute_url }}#comments" class="comments">{{ comment_count }}</a>
                    {% endif %}
                </div>
                <div class="text-news">
                    {{ entry.description }}
                </div>
            </td>
        </tr>
    </table>
</div>