{% extends "base.html" %}

{% load thumbnail comments %}

{% block meta %}
    {{ entry.get_meta }}
{% endblock %}


{% block  breadcrumbs %}
    <span>Новости</span>
{% endblock %}


{% block banner2 %}
{% endblock banner2 %}

{% block content %}

<div class="main-content article-text">

    <h1>{{ entry.get_title }}</h1>
    <div class="info">
        <a href="#" class="date">{{ entry.publish_date|date:"j E - H:i" }}</a>

        {% if entry.get_tags %}
        <span class="tags">
            {{ entry.get_tags }}
        </span>
        {% endif %}

        {% get_comment_count for entry as comment_count %}
        {% if comment_count %}
            <a href="{{ entry.get_absolute_url }}#comments" class="comments">{{ comment_count }}</a>
        {% endif %}
    </div>
    <div class="article-content">
        {{ entry.content|safe }}
    </div>


    {% include "gallery_include.html" with gallery=entry.gallery %}


    <div class="likes-wrap">
        {% include "likes.html" %}
    </div>
</div>
{% endblock %}

{% block comments %}
    {% if entry.enable_comments %}
        <div class="comments-block">
            <span id="comments"><a href="#comments"></a>Комментарии:</span>
            {% render_comment_list for entry %}
            {% render_comment_form for entry %}
        </div>
    {% endif %}
{% endblock %}



