{% extends "base.html" %}

{% load thumbnail comments i18n %}


{% block tabs %}
{% comment %}
<div class="tab">
    <div class="tab1 tab-content-active">
        <a href="{#% url "home" %#}" id="last-news" >{% trans "Last news" %}</a>
    </div>
    <div class="tab2">
        <a href="{#% url "articles:popular" %#}" id="popular-article">{% trans "Regional news" %}</a>
    </div>
</div>
{% endcomment %}
{% endblock %}

{% block  breadcrumbs %}
    <span>{% trans "News" %}</span>
{% endblock %}

{% block lenta %}
<div class="navigation">
    <div class="head-gallery"> {% trans "Newsline" %} </div>

    <div class="content-nav-line">
        {% for item in lenta %}
        <div class="paddin-content-nav">
            <div class="wrap-content-nav ">
                <table>
                    <tr>
                        <td class="img-nav img-line"><div class="img-wrap" style="background:url({{STATIC_URL}}img/{% if item.email %}clubs.png{% else %}art.png{% endif %}) no-repeat"></div>
                        </td>
                        <td>
                            <div class="date-nav">{{ item.date|date:"d.m.Y в H:i" }}</div>
                            <div class="text-nav"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content">
    {% for entry in entry_list %}
    <div class="wrap-news{% if forloop.last %} list-last{% endif %}">
        <table>
            <tr>
                <td class="col1">
                   {% if entry.image %}
                    <div class="td-img">
                        {% thumbnail entry.image "140x100" crop="center" as im %}
                            <img src="{{im.url}}" alt="{{entry.title}}">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                </td>
                <td>
                    <h1><a href="{{ entry.get_absolute_url }}">{{ entry.get_title }}</a></h1>
                    <div class="info">
                        <a href="#" class="date">{{ entry.publish_date|date:"j E - H:i" }}</a>

                        {% if entry.get_tags %}
                        <span class="tags">
                            {{ entry.get_tags }}
                        </span>
                        {% endif %}

                        {% get_comment_count for entry as comment_count %}
                        {% if comment_count %}
                        <a href="{{ entry.get_absolute_url }}#comments" class="comments">{{ comment_count }}</a>
                        {% endif %}
                    </div>
                    <div class="text-news">
                        {{ entry.get_description }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}

