{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}
    {% if view_user %}
        {% trans "Albums for user" %} {{ view_user.username }}
    {% else %}
        {% trans "All albums" %}
    {% endif %}
{% endblock %}

{% block imagestore-breadcrumb %}
    <li>
        {% if view_user %}
            {% trans "Albums for user" %} {{ view_user.username }}
        {% else %}
            {% trans "All albums" %}
        {% endif %}
    </li>
{% endblock %}

{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with view_user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block imagestore-related %}
    {% include "imagestore/tag-cloud.html" %}
{% endblock %}

{% block content %}
<div class="content-text">


<div id="gallery">

{% if IMAGESTORE_TEMPLATE %} {# in_admin #}


    <h1>Альбомы</h1>
    
    <table>
    {% for album in album_list %}
            {% if album.get_head %}
                {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
                <td>
					<div class="td-wrap">
						<a id="album-preview" href="{{ album.get_absolute_url }}">
							{% if album.get_head %}
								{% thumbnail album.get_head.image "150x150" crop='center' as album_head %}
									<img class="preview" {% if album.name %} alt="{{ album.name }}" {% endif %} src="{{ album_head.url }}">
								{% endthumbnail %}
							{% else %}
								[{% trans "Empty album" %}]
							{% endif %}
							<span class="album-name">{{ album.name }}</span>
					  
						</a>
						<a id="album-edit" href="{{ album.get_absolute_url }}edit/" title="редактировать альбом" alt="редактировать"></a>
					</div>
					
                </td>
                {% if forloop.counter|divisibleby:3 or forloop.last %}</tr>{% endif %}                    
            {% endif %}
        {% endfor %}
    </table>

{% else %} {# in site #}
    <h1>Галерея</h1>
    
    <table>
    {% for album in album_list %}
            {% if album.get_head %}
                {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
                <td>
                    <a href="{{ album.get_absolute_url }}">
                    {% if album.get_head %}
                        {% thumbnail album.get_head.image "150x150" crop='center' as album_head %}
                            <img class="preview" {% if album.name %} alt="{{ album.name }}" {% endif %} src="{{ album_head.url }}">
                        {% endthumbnail %}
                    {% else %}
                        [{% trans "Empty album" %}]
                    {% endif %}
                    <span class="album-name">{{ album.name }}</span>
                  
                    </a>
                </td>
                {% if forloop.counter|divisibleby:3 or forloop.last %}</tr>{% endif %}                    
            {% endif %}
        {% endfor %}
    </table>
{%endif%}
        {% include "imagestore/pagination.html" %}
    </div>
    </div>
</div>    
{% endblock %}