{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block imagestore-breadcrumb %}
    {% with "li" as scope_tag %}
        {% include "imagestore/image-scope.html" %}
    {% endwith %}
{% endblock %}

{% block title %}
    {% include "imagestore/image-scope.html" %}
{% endblock %}

{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with view_user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
    {% if album and IMAGESTORE_SHOW_USER %}
        {% with album.user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}

{% endblock %}


{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
            <li><a href='{% url imagestore:update-album pk=album.pk %}'>{% trans "Edit album" %}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="content-text">

<div id='gallery'>

{% if IMAGESTORE_TEMPLATE %} {# in_admin #}

    <h1>{{ album.name }}</h1>

<table>{% csrf_token %}
    {% for image in album.images.all %}
    {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
            <td>
				<div class="td-wrap">
					{% thumbnail image.image "150x150" crop="center" as im %}
						<img class="preview" id="{{image.id}}" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}"><span class='image-title'>{{ image.title }}</span>
					{% endthumbnail %}
					<a class="image-del" href="#" title="удалить фото" alt="удалить"></a>
				</div>
            </td>
            {% if forloop.counter|divisibleby:3 or forloop.last %}</tr>{% endif %}
    {% endfor %}
</table>


{% else %} {# in site #}

    <h1>{{ album.name }}</h1>

<table>
    {% for image in album.images.all %}
    {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
            <td>
            {% thumbnail image.image "150x150" crop="center" as im %}
                <a class="thumb highslide" onclick="return hs.expand(this)" href="{{image.image.url}}">
                        <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}"></a><span class='image-title'>{{ image.title }}</span>
            {% endthumbnail %}
            </td>
            {% if forloop.counter|divisibleby:3 or forloop.last %}</tr>{% endif %}
    {% endfor %}

</table>

{% endif %}
</div>

</div>
{% endblock %}


{% block content-related %}
                {% if imagestore_perms.add_image or request.user.is_superuser %}
                    <a href={% url imagestore:upload %}>{% trans "Upload image" %}</a>
                {% endif %}
{% endblock %}



