{% extends "index.html" %}


{% block content %}
<div class="main-content article-text">
    <div class="article-content">
        <h1>Упс, страница не найдена :(</h1>
        <p>
        	К сожалению, такой страницы не существует. Вероятно, она была удалена или перенесена. Воспользуйтесь поиском, чтобы найти нужную информацию.
         <p>
    </div>
</div>
{% endblock %}