{% extends "index.html" %}


{% block content %}
<div class="main-content article-text">
    <div class="article-content">
        <h1>Произошла ошибка, мы уже исправляем ее</h1>
        <p>
         <p>
    </div>
</div>
{% endblock %}