{% extends "base.html" %}

{% block page_title %}Войдите в sclubs.ru{% endblock %}

{% block page_description %}Страница входа. Войдите в sclubs.ru{% endblock %}

{% block page_keywords %}сайт sclubs.ru, что такое sclubs.ru, о проекте sclubs.ru, склабс{% endblock %}

{% block  breadcrumbs %}
    <span>О проекте</span>
{% endblock %}

{% block content %}
<div class="main-content article-text">
    <div class="article-content">
        <h1></h1>
        <p>
         Данный сайт является порталом в мир спорта. Мы стараемся раскрыть различные аспекты спортивной жизни, привести спорт в массы, собрать и объединеть спортсменов и с спортивные школы в одном месте. Мы хотим развивать спотривную конкуренцию и поднять качество физической культуры на новый уровень.
         На портале Вы всегда можете найти интересные статьи по любой спортивной тематике, правила спорта и каталог спотривных секций. Если интересующего Вас материала нет на сайте, Вы всегда можете связаться с нами по e-mail: <img src="{{STATIC_URL}}img/contacts.jpg"> и мы обязательно это добавим.
         <p>
        Если у Вас есть интересные материалы: видео, фото или статьи, которым вы хотели бы поделиться с посетителями портала, обязательно свяжитесь с нами и Ваши материалы увидят миллионы.
        <p>
        С уважением, команда sclubs.ru. 
    </div>
</div>    
{% endblock %}