{% extends "base.html" %}

{% block page_title %}Реклама на спортивном сайте{% endblock %}

{% block page_description %}Размешение рекламы на спортивном сайте sclubs.ru. Сотрудничество с порталом.{% endblock %}

{% block page_keywords %}реклама на спортивном сайте, реклама на спорт сайте, реклама на sclubs.ru, сотрудничество с sclubs.ru{% endblock %}


{% block  breadcrumbs %}
    <span>Реклама на спортивном сайте</span>
{% endblock %}

{% block content %}
<div class="main-content article-text">
    <div class="article-content">
        <h1></h1>
        <p>    
        	Наш портал предлагает различные варианты рекламы, включая баннерную, контекстную и новостные обзоры.
  			По всем вопросам вы можете обращаться:
        <img src="{{STATIC_URL}}img/contacts.jpg"><br><br>
        
        С уважением, команда sclubs.ru. 

        <h2>Рекламные места:</h2><br>
			<strong>M1</strong> - Баннер размером 300х140 размещается на индексной старнице.<br>
			<strong>M2</strong> - Баннер размером 300х140 размещается на всех внутренних страницах кроме индексной.<br>
			<strong>M3</strong> - Баннер размером 980х40 размещается на всех внутренних страницах кроме индексной.<br><br>

        <img src="{{STATIC_URL}}img/m1.png"><br><br>

        <img src="{{STATIC_URL}}img/m2m3.png"><br>

    </div>
</div>     
{% endblock %}

{% block banner1 %}

{% endblock banner1 %}
