{% load  sekizai_tags i18n seo_tags sport_tags %}


<!DOCTYPE html>
<html lang="ru" id="sclubs">
	<head>
	    <meta charset="utf8">

        {% block meta %}
            {% meta_tags for request.get_full_path %}
        {% endblock %}

        {% addtoblock "css" %}
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/fav.png" />
	    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/fcbkinput.css"> 
	    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css">
	    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css">
	    {% endaddtoblock %}
	    
	    {% addtoblock "js" %}
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fcbkcomplete.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        {% endaddtoblock %}
        
        {% render_block "css" %}
        {% render_block "js" %}
    	<!--[if gte IE 9]>
	    <style type="text/css">
	        .head .top-line, .head .bottom-line, .head-nav span.nav-avtive, .head-gallery {
               filter: none;
            }
        </style>
        <![endif]-->
        <meta name="google-site-verification" content="NYGeWsh_VUNniJXt45WHnmhDXQBFsgnYSDVr4u-V9qo" />
	</head>
	<body>
		<div class="main">
		    {% block page_head %}
			<div class="head">
                <div class="top-line">
                    <div class="grid">
                        <div class="search">
                            <form method="get" action="{#% url "haystack_search" %#}">
                                <input type="text" name="q" id="search" value="{{request.GET.q}}">
                                <a href="{#% url "haystack_search" %#}" id="search-button"><img src="{{ STATIC_URL }}img/search.png"></a>
                            </form>                             
                        </div>
                        <div class="singin">
                            {% block singin %}
                            
                            {% if request.user.is_authenticated %}
                                <a href="{% url "accounts:profile" pk=request.user.pk %}">
                                    {% if request.user.get_full_name %}
                                        {{ request.user.get_full_name }}{% else %}{{ request.user.username }}
                                    {% endif %}</a>
                                <a href="{% url "accounts:logout" %}?next={{ request.get_full_path }}">{% trans "Logout" %}</a>
                            {% else %}
                                <a class="ajax-popup" href="{#% url "accounts:login" %#}?next={{ request.get_full_path }}">{% trans "Login" %}</a>
                            {% endif %}

                            {% endblock %}
                        </div>

                    </div>
                </div>
                <div class="header article-header">
                    <div class="wrap-menu">
                    	<a href="/" class="logo-inner"></a>
                        <div class="board"></div>
                        {% block top_menu %}
                            {% include "menu/menu.html" %}
                        {% endblock top_menu %}
                    </div>
                </div>
            </div>
			{% endblock %}
			<div class="content">
			    {% block article_title %}
			    <div class="wrap-article-title">
                    <div class="top-banner">
                        {#% show_banner "top_banner" %#}
                    </div>
                    <div class="article-title">
                        
                        {% block  breadcrumbs %}
                            <span>sf</span>
                        {% endblock %}

                        {% comment %}
                        <span class="a-wrap" id="sport-type-wrap">
                            <a href="#" id="sport-type">{% trans "Choose a sport" %}</a>
                            <div class="border-none"></div>
                        </span>

                        <span class="a-wrap" id="select-city">
                            <a href="#">{% trans "Choose a city" %}</a>
                            <div class="border-none"></div>
                        </span>
                        {% endcomment %}

                        {% block filters %}
                        {% endblock %}

                        {% comment %}
                        {% block club_buttons %}
	                    <div class="add-create">
	                    	<a class="add-create2" href="{#% url "clubs:create" %#}" alt="Добавить спорт-клуб"></a>
	                    	<a class="add-create1" href="{#% url "subscribe" %#}" alt="Создать спорт-клуб"></a>
	                    </div>
                        {% endblock %}
                        {% endcomment %}
                    </div>
                    
                    <div class="sep-border"></div>
                </div>
			    {% endblock %}
				<div class="wrap-content">

					<div class="sidebar">


						{% block navigation %}

                        {% comment %}
						<div class="navigation">
                            {% block search_club %}
                            {% endblock %}


							<div class="head-nav">
								<div class="nav-avtive">
									<span id="event">
										<a href="#">{% trans "Future" %}</a>
										<a href="#">{% trans "events" %}</a>
									</span>
								</div>
								<div >
									<span  id="last-update">
										<a href="#">{% trans "Last" %}</a>
										<a href="#">{% trans "updates" %}</a>
									</span>
								</div>
							</div>


							{#% future_events %#}
							
						</div>
						{% endcomment %}

                        {% endblock %}

                        {% block banner1 %}
                        	{#% show_banner "under_events" %#}
                        {% endblock %}
                        
                        {% block lenta %}
                        <div class="navigation">
                            <div class="head-gallery"> {% trans "Newsline" %} </div>
                            
                            <div class="content-nav-line">
                                {% for item in lenta %}
                                <div class="paddin-content-nav">
                                    <div class="wrap-content-nav ">
                                        <table>
                                            <tr>
                                                <td class="img-nav img-line"><div class="img-wrap" style="background:url({{STATIC_URL}}img/{% if item.email %}clubs.png{% else %}art.png{% endif %}) no-repeat"></div>
                                                </td>
                                                <td>
                                                    <div class="date-nav">{{ item.date|date:"d.m.Y в H:i" }}</div>
                                                    <div class="text-nav"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
                                                </td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endblock %}


                        {% comment %}
						<div id="sidebar-slider">
							<div class="head-gallery">
								{% trans "Photo gallery" %}
							</div>
							<div class="slider-img">
								<a href="#" id="l-img"></a>
								<a href="#" id="r-img"></a>
								<a id="album-path" href=""></a>
							</div>
						</div>
                        {% endcomment %}
						<div id="vk-widget">
							{% include "vk_witget.html" %}							
						</div>
                        
                        {% block sape %}
                        
                        {% endblock %}


					</div>

					<div class="container">
                        
                        {% block tabs %}
						
						{% endblock %}
						
						{% block content %}
						
                        {% endblock %}
						
						{% block pagination %}
                            {% if is_paginated %}
                                {#% load pagination %#}
                                <div class="pagination">
                                   {#% pagination %#}
                                </div>
                            {% endif %}
                        {% endblock %}
                        
                        {% block banner2 %}
                        
                        {% endblock banner2 %}
                        
                        {% block comments %}
                            
                        {% endblock %}
					</div>


            {% sport_chooser request.get_full_path %}
            {% include "geo/select_city.html" %}
            
				</div>
			</div>
			<div class="footer-padding">
				<div class="footer-wrap">
					<div class="footer">
                        <img src="{{STATIC_URL}}img/logo-footer.png" alt="SCLUBS.RU Спортивные клубы, склабс" title="SCLUBS.RU - SportClubs" class="logotype">
                        <div class="count">
                            {% include "metrika.html" %}
                        </div>                        
						
						<div class="copy">&copy; {% trans "Sclubs.ru sports portal" %} 2011-{% now "Y" %}</div>
						<div class="about">
							<a href="{% url "home-page" %}">{% trans "Home" %}</a>
							<a href="{#% url "about" %#}">{% trans "About" %}</a>
							<a href="{#% url "advertising" %#}">{% trans "Advertising" %}</a>
							{% block footer_link %}
                                
                            {% endblock footer_link %}
						</div>
						<div class="onsite">
							{% trans "Online" %}<br><span>{{ "35678"|random}} {% trans "users" %}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>
