{% extends "base.html" %}

{% load thumbnail %}

{% block page_title %}Спортивные секции клубы, история и правила различных видов спорта, статьи о спорте{% endblock %}

{% block page_description %}Спортивные секции клубы, история и правила различных видов спорта, статьи о спорте, портал склабс{% endblock %}

{% block page_keywords %}
    Спортивные секции,
    Спортивные клубы,
    правила спорта,
    статьи о спорте,
    новости спорта,
    спортивные фото,
    спортивное видео,
    сайт склабс,
{% endblock %}

{% block index-span %}
<span class="a-wrap"></span>
{% endblock %}


{% block banner1 %}

    {#% show_banner "under_events_at_home" %#}

{% endblock banner1 %}

{% block page_head %}
<div class="head">
    <div class="top-line">
        <div class="grid">
            <div class="search">
                <form method="get" action="{#% url "haystack_search" %#}">
                    <input type="text" name="q" id="search" value="{{request.GET.q}}">
                    <a href="{#% url "haystack_search" %#}" id="search-button"><img src="{{ STATIC_URL }}img/search.png"></a>
                </form> 
            </div>
            <div class="singin">
                {% if request.user.is_authenticated %}
                    <a href="{% url "accounts:profile" pk=request.user.pk %}">
                        {% if request.user.get_full_name %}
                            {{ request.user.get_full_name }}{% else %}{{ request.user.username }}
                        {% endif %}</a>
                        <a href="{% url "accounts:logout" %}?next={{ request.get_full_path }}">Выйти</a>
                {% else %}
                    <a class="ajax-popup" href="{#% url "accounts:login" %#}?next={{ request.get_full_path }}">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="wrap-header">
        <div class="header">
            <div class="wrap-menu">
               <a href="/" class="logo"></a>
                <div class="board"></div>
                
                {% block top_menu %}
                    {{ block.super }}
                {% endblock top_menu %}
                
                <div class="slider">
                    <div class="head-slider-img">
                        <img id="item1" src="{{ STATIC_URL }}img/slider1.png" alt="">
                        <img id="item2" src="{{ STATIC_URL }}img/slider2.png" alt="">
                        <img id="item3" src="{{ STATIC_URL }}img/slider3.png" alt="">
                    </div>
                    <div class="slider-nav">
                        <a href="#" id="slider-left"></a>
                        <a href="#" id="slider-right"></a>
                        <div class="slider-text">
                            <div class="padding-text">
                                Дружба объединяет людей куда сильнее, чем любовь, а спорт сильнее чем дружба.
                            </div>
                            <a href="{#% url "clubs:create" %#}" id="create-club">Добавить спорт-клуб</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line">
        <div class="grid">
            <span class="info">У нас зарегистрировано <span><a href="{#% url "clubs:index" %#}">более {#% clubs_count %#}</a></span> спортивных клубов.</span>
            <span class="r-margin"></span>
            <span class="a-wrap" id="sport-type-wrap"><a href="#" id="sport-type">Выбрать вид спорта</a></span>
            <span class="a-wrap" id="select-city"><a href="#">{{ request.location }}</a><div class="border-none"></div></span>
            <span class="a-wrap"></span>
        </div>
    </div>
</div>
{% endblock %}


{% block article_title %}
{% endblock %}

{% block tabs %}
<div class="tab">
    <div class="tab1 tab-content-active">
        <a href="{% url "news:index" %}" id="last-news" >Последние новости</a>
    </div>
    <div class="tab2">
        <a href="{#% url "articles:popular" %#}" id="popular-article">Популярные статьи</a>
    </div>
</div>
{% endblock %}



{% block content %}

{% endblock %}


