{% load sekizai_tags %}

{% addtoblock "js" %}
	<script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
{% endaddtoblock %}


<div class="likes">
	<script type="text/javascript">
	  VK.init({apiId: 3020238, onlyWidgets: true});
	</script>

	<!-- Put this div tag to the place, where the Like block will be -->
	<div id="vk_like"></div>
	<script type="text/javascript">
	VK.Widgets.Like("vk_like", {type: "button", height: 20});
	</script>

	<div class="tweet">
	    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>