<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random();//--></script><!--/LiveInternet-->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
            try {
                        w.yaCounter14471560 = new Ya.Metrika({id:14471560, enableAll: true, webvisor:true});
                                } catch(e) {}
                                    });
                                        
                                            var n = d.getElementsByTagName("script")[0],
                                                    s = d.createElement("script"),
                                                            f = function () { n.parentNode.insertBefore(s, n); };
                                                                s.type = "text/javascript";
                                                                    s.async = true;
                                                                        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                                                                        
                                                                            if (w.opera == "[object Opera]") {
                                                                                    d.addEventListener("DOMContentLoaded", f);
                                                                                        } else { f(); }
                                                                                        })(document, window, "yandex_metrika_callbacks");
                                                                                        </script>
                                                                                        <noscript><div><img src="//mc.yandex.ru/watch/14471560" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                                                                                        <!-- /Yandex.Metrika counter -->