

{% if page_obj.has_previous %}
    <a href="{{ get }}page={{ page_obj.previous_page_number }}" class="next">&larr; Сюда</a>
{% endif %}

{% if show_first %}
    <a href="{{ get }}page=1">1</a>
    <span class="ellipsis">...</span>
{% endif %}

{% for page in page_range %}
    <a href="{{ get }}page={{ page }}"{% if page == page_obj.number %} class="page-active"{% endif %}>{{ page }}</a>
{% endfor %}

{% if show_last %}
    <span class="ellipsis">...</span>
    <span class="page"><a href="{{ get }}page={{ num_pages }}">{{ num_pages }}</a></span>
{% endif %}

{% if page_obj.has_next %}
    <a href="{{ get }}page={{ page_obj.next_page_number }}" class="next">Туда &rarr;</a>
{% endif %}