{% load i18n %}
{% load polls_tags %}

<script type="text/javascript">
	trans_total_voters = '{% trans "Total Voters" %}';
	trans_choose_anything_to_vote = '{% trans "Please, choose anything to vote" %}';
	trans_only_authenticated_users_can_vote = '{% trans "Only authenticated users can vote" %}';
	{% include "_polls_script.js" %}
</script>

<div class="dps_poll_content_{{ poll.pk }}">
	<p class="dps_poll_warning_message">
		<noscript>		
			{% trans "WARNING: JavaScript is disabled in your browser. Please, turn it on to vote." %}
		</noscript>
	</p>

        <div class="sidebar-head" style="background:url(/media/img/poll.png) no-repeat scroll 15px 15px transparent;">
            {{ poll.title }}
        </div>
        <div class="sidebar-content">
            <form method="post">
            {% csrf_token %}        
                <div class="dps_poll_body">
                    {% if poll.get_cookie_name in request.COOKIES %}
                        <p>{% trans "You already voted" %}.</p>
                        <p><a class="dps_showresults_{{ poll.pk }}" href="javascript:void(0);">{% trans "Show results" %}</a></p>
                    {% else %}
                        {% render_items poll items %}
                        <p><input class="dps_sendvote_{{ poll.pk }}" type="button" value="Голосовать" /></p>
                    {% endif %}
                </div>
            </form>
        </div>
	<script type="text/javascript">
		if(!navigator.cookieEnabled) {
			$('.dps_poll_content_{{ poll.pk }} .dps_poll_warning_message').append('{% trans "WARNING: Cookies are disabled in your browser. Please, turn it on to vote." %}');
			$('.dps_sendvote_{{ poll.pk }}').attr('disabled', '');
		}
	</script>
</div>
