{% extends "base.html" %}

{% block title %}
Ваш сайт успешно создан
{% endblock %}

{% block content %}
    <div class="content-head">
        <h1>Поздравляем</h1>
    </div>
    <div class="article">
        <p>
        Сайт доступен по адресу: <a target="_blank" href="{{site.url}}">{{site.url}}</a>
        </p>
        <p>
        Панель управления: <a target="_blank" href="{{site.url}}admin/">{{site.url}}admin/</a>
        </p>
    </div>
{% endblock %}