{% extends "base.html" %}

{% block breadcrumbs %}
    <span>Карта сайта</span>
{% endblock %}

{% block content %}
    <div class="main-content article-text">
        {% for sitemap in sitemaps %}
            <ul>
                <li><a href="{{sitemap.0.1}}">{{sitemap.0.0}}</a></li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
