<div class="type-sport-window">
<form action="" method="get">

<div class="col">
    <ul>
        <li class="cat-sport"><input type="checkbox" name="0" id="sport-type-0"><label for="sport-type-0"><span><img src="{{STATIC_URL}}img/checked.png"></span>Eдиноборства</label></li>
        <li><input type="checkbox" name="1" id="sport-type-1"><label for="sport-type-1"><span><img src="{{STATIC_URL}}img/checked.png"></span>Вольная борьба</label></li>
        <li><input type="checkbox" name="2" id="sport-type-2"><label for="sport-type-2"><span><img src="{{STATIC_URL}}img/checked.png"></span>Тхэквондо</label></li>
        <li><input type="checkbox" name="3" id="sport-type-3"><label for="sport-type-3"><span><img src="{{STATIC_URL}}img/checked.png"></span>АРБ</label>о</li>
        <li><input type="checkbox" name="4" id="sport-type-4"><label for="sport-type-4"><span><img src="{{STATIC_URL}}img/checked.png"></span>Грэпплинг</label></li>
        <li><input type="checkbox" name="5" id="sport-type-5"><label for="sport-type-5"><span><img src="{{STATIC_URL}}img/checked.png"></span>Айкидо</label></li>
        <li><input type="checkbox" name="6" id="sport-type-6"><label for="sport-type-6"><span><img src="{{STATIC_URL}}img/checked.png"></span>Бокс</label></li>
        <li><input type="checkbox" name="7" id="sport-type-7"><label for="sport-type-7"><span><img src="{{STATIC_URL}}img/checked.png"></span>Дзюдо</label></li>
        <li><input type="checkbox" name="8" id="sport-type-8"><label for="sport-type-8"><span><img src="{{STATIC_URL}}img/checked.png"></span>Самбо</label></li>
        <li><input type="checkbox" name="9" id="sport-type-9"><label for="sport-type-9"><span><img src="{{STATIC_URL}}img/checked.png"></span>Комплексное единоборство</label></li>
        <li><input type="checkbox" name="10" id="sport-type-10"><label for="sport-type-10"><span><img src="{{STATIC_URL}}img/checked.png"></span>Греко-римская борьба</label></li>
        <li><input type="checkbox" name="11" id="sport-type-11"><label for="sport-type-11"><span><img src="{{STATIC_URL}}img/checked.png"></span>Фехтование</label></li>
        <li><input type="checkbox" name="12" id="sport-type-12"><label for="sport-type-12"><span><img src="{{STATIC_URL}}img/checked.png"></span>Рукопашный бой</label></li>
        <li><input type="checkbox" name="13" id="sport-type-13"><label for="sport-type-13"><span><img src="{{STATIC_URL}}img/checked.png"></span>Джиу Джицу</label></li>
    </ul>
    <ul>
        <li class="cat-sport"><input type="checkbox" name="14" id="sport-type-14"><label for="sport-type-14"><span><img src="{{STATIC_URL}}img/checked.png"></span> Бобслей</label></li>
    </ul>
    <ul>
        <li class="cat-sport"><input type="checkbox" name="15" id="sport-type-15"><label for="sport-type-15"><span><img src="{{STATIC_URL}}img/checked.png"></span>Супербайк</label></li>
    </ul>

</div>
<div class="col">
    <ul>
        <li class="cat-sport"><input type="checkbox" name="16" id="sport-type-16"><label for="sport-type-16"><span><img src="{{STATIC_URL}}img/checked.png"></span>Игровые</label></li>
        <li><input type="checkbox" name="17" id="sport-type-17"><label for="sport-type-17"><span><img src="{{STATIC_URL}}img/checked.png"></span>Футбол</label></li>
        <li><input type="checkbox" name="18" id="sport-type-18"><label for="sport-type-18"><span><img src="{{STATIC_URL}}img/checked.png"></span>Волейбол</label></li>
        <li><input type="checkbox" name="19" id="sport-type-19"><label for="sport-type-19"><span><img src="{{STATIC_URL}}img/checked.png"></span>Баскетбол</label>о</li>
        <li><input type="checkbox" name="20" id="sport-type-20"><label for="sport-type-20"><span><img src="{{STATIC_URL}}img/checked.png"></span>Пляжный волейбол</label></li>
        <li><input type="checkbox" name="21" id="sport-type-21"><label for="sport-type-21"><span><img src="{{STATIC_URL}}img/checked.png"></span>Гандбол</label></li>
        <li><input type="checkbox" name="22" id="sport-type-22"><label for="sport-type-22"><span><img src="{{STATIC_URL}}img/checked.png"></span>Хоккей</label></li>
        <li><input type="checkbox" name="23" id="sport-type-23"><label for="sport-type-23"><span><img src="{{STATIC_URL}}img/checked.png"></span>Большой тенис</label></li>
        <li><input type="checkbox" name="24" id="sport-type-24"><label for="sport-type-24"><span><img src="{{STATIC_URL}}img/checked.png"></span>Настольный тенис</label></li>
        <li><input type="checkbox" name="25" id="sport-type-25"><label for="sport-type-25"><span><img src="{{STATIC_URL}}img/checked.png"></span>Водное поло</label></li>
        <li><input type="checkbox" name="26" id="sport-type-26"><label for="sport-type-26"><span><img src="{{STATIC_URL}}img/checked.png"></span>Гольф</label></li>
        <li><input type="checkbox" name="27" id="sport-type-27"><label for="sport-type-27"><span><img src="{{STATIC_URL}}img/checked.png"></span>Бейсбол</label></li>
        <li><input type="checkbox" name="28" id="sport-type-28"><label for="sport-type-28"><span><img src="{{STATIC_URL}}img/checked.png"></span>Бадминтон</label></li>
        <li><input type="checkbox" name="29" id="sport-type-29"><label for="sport-type-29"><span><img src="{{STATIC_URL}}img/checked.png"></span>Пляжный футбол</label></li>
        <li><input type="checkbox" name="30" id="sport-type-30"><label for="sport-type-30"><span><img src="{{STATIC_URL}}img/checked.png"></span>Керлинг</label></li>
        <li><input type="checkbox" name="31" id="sport-type-31"><label for="sport-type-31"><span><img src="{{STATIC_URL}}img/checked.png"></span>Русское регби</label></li>
        <li><input type="checkbox" name="32" id="sport-type-32"><label for="sport-type-32"><span><img src="{{STATIC_URL}}img/checked.png"></span>Регби</label></li>
    </ul>                               
</div>

<div class="col">
    <ul>
        <li class="cat-sport"><input type="checkbox" name="33" id="sport-type-33"><label for="sport-type-33"><span><img src="{{STATIC_URL}}img/checked.png"></span>Силовые</label></li>
        <li><input type="checkbox" name="34" id="sport-type-34"><label for="sport-type-34"><span><img src="{{STATIC_URL}}img/checked.png"></span>Гиревой спорт</label></li>
        <li><input type="checkbox" name="35" id="sport-type-35"><label for="sport-type-35"><span><img src="{{STATIC_URL}}img/checked.png"></span>Тяжелая атлетика</label></li>
        <li><input type="checkbox" name="36" id="sport-type-36"><label for="sport-type-36"><span><img src="{{STATIC_URL}}img/checked.png"></span>Пауэрлифтинг</label></li>
    </ul>
    <ul>
        <li class="cat-sport"><input type="checkbox" name="37" id="sport-type-37"><label for="sport-type-37"><span><img src="{{STATIC_URL}}img/checked.png"></span>Фитнес</label></li>
        <li><input type="checkbox" name="38" id="sport-type-38"><label for="sport-type-38"><span><img src="{{STATIC_URL}}img/checked.png"></span>Тай-бо</label></li>
    </ul>   

    <ul>
        <li class="cat-sport"><input type="checkbox" name="39" id="sport-type-39"><label for="sport-type-39"><span><img src="{{STATIC_URL}}img/checked.png"></span>Циклические</label></li>
        <li><input type="checkbox" name="40" id="sport-type-40"><label for="sport-type-40"><span><img src="{{STATIC_URL}}img/checked.png"></span>Легкая атлетика</label></li>
        <li><input type="checkbox" name="41" id="sport-type-41"><label for="sport-type-41"><span><img src="{{STATIC_URL}}img/checked.png"></span>Велоспорт</label></li>
        <li><input type="checkbox" name="42" id="sport-type-42"><label for="sport-type-42"><span><img src="{{STATIC_URL}}img/checked.png"></span>Плавание</label></li>
        <li><input type="checkbox" name="43" id="sport-type-43"><label for="sport-type-43"><span><img src="{{STATIC_URL}}img/checked.png"></span>Биатлон</label></li>
        <li><input type="checkbox" name="44" id="sport-type-44"><label for="sport-type-44"><span><img src="{{STATIC_URL}}img/checked.png"></span>Гребля</label></li>
    </ul>                                                                                                   
    <ul>
        <li class="cat-sport"><input type="checkbox" name="45" id="sport-type-45"><label for="sport-type-45"><span><img src="{{STATIC_URL}}img/checked.png"></span>Конный спорт</label></li>
    </ul>                                                                                                   
    <ul>
        <li class="cat-sport"><input type="checkbox" name="46" id="sport-type-46"><label for="sport-type-46"><span><img src="{{STATIC_URL}}img/checked.png"></span>Шахматы</label></li>
    </ul>                                                                                                   

</div>




<div class="col">
    <ul>
        <li class="cat-sport"><input type="checkbox" name="47" id="sport-type-47"><label for="sport-type-47"><span><img src="{{STATIC_URL}}img/checked.png"></span>Одиночные</label></li>
        <li><input type="checkbox" name="48" id="sport-type-48"><label for="sport-type-48"><span><img src="{{STATIC_URL}}img/checked.png"></span>Прыдкие в воду</label></li>
        <li><input type="checkbox" name="49" id="sport-type-49"><label for="sport-type-49"><span><img src="{{STATIC_URL}}img/checked.png"></span>Художественная гимнастика</label></li>
        <li><input type="checkbox" name="50" id="sport-type-50"><label for="sport-type-50"><span><img src="{{STATIC_URL}}img/checked.png"></span>Прыжки на батуте</label></li>
        <li><input type="checkbox" name="51" id="sport-type-51"><label for="sport-type-51"><span><img src="{{STATIC_URL}}img/checked.png"></span>Спортивная стельба</label></li>
        <li><input type="checkbox" name="52" id="sport-type-52"><label for="sport-type-52"><span><img src="{{STATIC_URL}}img/checked.png"></span>Спортивная гимнастика</label></li>
    </ul>                               
    
</div>                          

<div class="control">
    <button id="choice-all" type="submit" name="choice_all">Выбрать все</button>
    <button type="submit">Показать</button>
    
</div>
</form>                     
</div>