<div class="type-sport-window">



{% if current_content_type == "Статьи" %}
    <form action="{% url "filters:tagged-articles" %}" method="get">
{% elif current_content_type == "Спортивные клубы" %}
    <form action="{% url "filters:tagged-clubs" %}" method="get">
{% elif current_content_type == "Медиа" %}
    <form action="{% url "filters:tagged-media" %}" method="get">
{% elif current_content_type == "Правила спорта" %}
    <form action="{% url "filters:tagged-rules" %}" method="get">
{% else %}
    <form action="{% url "filters:tagged-news" %}" method="get">
{% endif %}

{% for col in columns %}
<div class="col">
    <ul>
    {% for sport in col %}
        <li class="cat-sport"><input type="checkbox" {% if sport.tag in tags %}checked{% endif %} name="{{ sport.tag.id }}" id="sport-type-{{ sport.tag.id }}"><label for="sport-type-{{ sport.tag.id }}"><span><img src="{{STATIC_URL}}img/checked.png"></span>{{ sport.tag|capfirst }}</label></li>
        {% for child in sport.get_children %}
        {% if child.in_window %}
        <li><input type="checkbox" name="{{ child.tag.id }}" {% if child.tag in tags %}checked{% endif %} id="sport-type-{{ child.tag.id }}"><label for="sport-type-{{ child.tag.id }}"><span><img src="{{STATIC_URL}}img/checked.png"></span>{{ child.tag|capfirst }}</label></li>
        {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
    

</div>
{% endfor %}
<div class="control">
    <button id="choice-all" type="submit" name="choice_all">Выбрать все</button>
    <button type="submit">Показать</button>
    
</div>
</form>                     
</div>