{% extends "base.html" %}
{% load comments %}
{% load tagging_tags %}

{% block title %}
	Публикации с меткой {{tag}}
{% endblock %}

{% block content %}
    <div class="content-head">
        <h1>Публикации с меткой {{tag}}</h1>
    </div>
    <div class="filter-content">
        <span id="filter-all" {% if "all" in request.path %}class="check-filter"{% endif %}><a href="/tag/all/{{tag}}">Все</a></span> | 
        <span id="filter-news" {% if "news" in request.path %}class="check-filter"{% endif %}><a href="/tag/news/{{tag}}">Новости</a></span> | 
        <span id="filter-article" {% if "articles" in request.path %}class="check-filter"{% endif %}><a href="/tag/articles/{{tag}}">Статьи</a></span> | 
        <span id="filter-rules" {% if "rules" in request.path %}class="check-filter"{% endif %}><a href="/tag/rules/{{tag}}">Правила</a></span> | 
        <span id="filter-video"><a href="#">Видео</a></span> | 
        <span id="filter-clubs"><a href="#">Клубы</a></span>
    </div>
    <div class="content-news">
        <table>
        <tr>
        <td>
        {% for obj in object_list %}
            <div class="news-wrap fixheight">
                <div class="news-head">
                    <a href="{{obj.get_absolute_url}}">{{ obj }}</a>
                </div>
            </div>
        {% endfor %}
        </td>
        </tr>
        </table>
    </div>

{% endblock %}
