{% load sekizai_tags %}

{% addtoblock "js" %}
	<script type="text/javascript" src="http://vk.com/js/api/openapi.js?67"></script>
{% endaddtoblock %}

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
	VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "200"}, 43373566);
</script>