{% extends "base.html" %}

{% load sekizai_tags sclubs_tags %}

{% block page_title %}{% if query %}{{ query }} - поиск на sclubs.ru{% else %}Поиск на сайте sclubs.ru{% endif %}{% endblock %}

{% block  breadcrumbs %}
    <span>Поиск</span>
{% endblock %}


{% block content %}
        {% if query %}
            <div class="main-content">
            <script type="text/javascript">yandex_premium_print()</script>
            {% for result in page.object_list %}

            {% if result.content_type == "news.entry" %}
                {% with entry=result.object %}
                    {% include "news/entry_in_list.html" %}
                {% endwith %}
            {% endif %}

            {% if result.content_type == "rules.rule" %}
                {% with rule=result.object %}
                    {% include "rules/rule_in_list.html" %}
                {% endwith %}
            {% endif %}            

            {% if result.content_type == "articles.article" %}
                {% with article=result.object %}
                    {% include "articles/article_in_list.html" %}
                {% endwith %}
            {% endif %}
            
            {% if result.content_type == "clubs.club" %}
                {% with club=result.object %}
                    {% include "clubs/club_include.html" %}
                {% endwith %}
            {% endif %}
            {% empty %}
                <p>Ничего не найдено.</p>
            {% endfor %}
            </div>
        {% else %}
        Задайте вопрос
        {% endif %}

{% endblock %}


{% block pagination %}
    {% if page.has_next or page.has_previous %}
        {% load pagination %}
        <div class="pagination">
            {% with page_obj=page %}
                {% pagination %}
            {% endwith %}
        </div>
    {% endif %}
{% endblock %}


{% block banner1 %}
	{% addtoblock "js" %}
		<script type="text/javascript"><!--
		
			// Размер шрифтов
			var yandex_ad_fontSize = 1;
			
			// Настройки объявлений Директа
			var yandex_direct_fontColor = '000000';
			var yandex_direct_BorderColor = '235AC8';
			var yandex_direct_BgColor = 'E9EEF9';
			var yandex_direct_titleColor = '0000CC';
			var yandex_direct_siteurlColor = '006600';
			var yandex_direct_linkColor = '0000CC';
			function yandex_direct_print(){ }
			
			// Настройки объявлений Маркета
			var yandex_market_fontColor = '000000';
			var yandex_market_BorderColor = 'E3D8F4';
			var yandex_market_BgColor = 'F5F1FB';
			var yandex_market_headerBgColor = 'E7DDF6';
			var yandex_market_catColor = '666666';
			var yandex_market_offerlinkColor = '0B57AC';
			var yandex_market_linkColor = '0B57AC';
			function yandex_market_print(){ }
			
			// Настройки Спец. размещения
			var yandex_premium_fontColor = '000000';
			var yandex_premium_titleColor = '0000CC';
			var yandex_premium_siteurlColor = '006600';
			function yandex_premium_print(){ }
			
			var yandex_r = Math.round(Math.random() * 100000);
			document.write('<sc'+'ript type="text/javascript" src="http://an.yandex.ru/code/106662?rnd=' + yandex_r + '&text={{ query|uri_escape }}&page-no={{ page.number }}&charset=utf-8"></'+'sc'+'ript>');
			
		//--></script>
	{% endaddtoblock %}
	
	<script type="text/javascript">yandex_direct_print()</script>

{% endblock banner1 %}


