{% load thumbnail sekizai_tags %}

{% if gallery %}

    {% addtoblock "js" %}
        <script type="text/javascript" src="{{ STATIC_URL }}fotorama/fotorama.js"></script>
    {% endaddtoblock %}

    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}fotorama/fotorama.css">
    {% endaddtoblock %}


    <div class="fotorama" data-nav="thumbs" data-height="400" data-allowfullscreen="true" data-thumbwidth="90" data-hash="true">
        {% for image in gallery.images.all %}
            {% thumbnail image.image "90" crop=center as img %}
                <a href="{{ image.image.url }}" data-caption="{{ image.alt|default:"" }}"><img src="{{ img.url }}" ></a>
            {% endthumbnail %}
        {% endfor %}
    </div>

{% endif %}