
<div class="type-sport-window">
    {% for column in columns %}

        <div class="col">
            <ul>
            {% for category in column %}
                <li class="cat-sport"><a href="?category={{ category.slug }}">{{ category.title }}</a></li>
                {% for sport in category.sports.all %}
                    <li><a href="?sport={{ sport.slug }}">{{ sport.title }}</a></li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>