{% extends "base.html" %}


{% block navigation %}
{% endblock %}

{% block lenta %}
<div class="navigation">
    <div class="head-gallery help"> Справка </div>
    
    <div class="content-nav-line">
        <div class="paddin-content-nav">            
            <div class="wrap-content-nav ">            
                <table>
                    <tr>
                        <td class="img-nav img-line">
                        </td>
                        <td>
                            <div class="text-nav"><a href="{% url designer:faq %}">FAQ</a></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="paddin-content-nav">            
            <div class="wrap-content-nav ">                
                <table>
                    <tr>
                        <td class="img-nav img-line">
                        </td>
                        <td>
                            <div class="text-nav"><a href="{% url designer:sportsite-list %}">Список сайтов</a></div>
                        </td>
                    </tr>
				</table>
			</div>
		</div>
        <div class="paddin-content-nav">			
            <div class="wrap-content-nav ">				
				<table>
                    <tr>
                        <td class="img-nav img-line">
                        </td>
                        <td>
                            <div class="text-nav"><a href="#">Обучение</a></div>
                        </td>
                    </tr> 
                </table>
            </div>
        </div>  
        <div class="paddin-content-nav">            
            <div class="wrap-content-nav list-last">
                <table>
                    <tr>
                        <td class="img-nav img-line">
                        </td>
                        <td>
                            <div class="text-nav"><a href="{% url designer:feedback %}">Обратная связь</a></div>
                        </td>
                    </tr>                                        
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar_slider %}
{% endblock %}

{% block banner1 %}
{% endblock banner1 %}
{% block banner2 %}
{% endblock banner2 %}