
{% extends "designer/base.html" %}

{% load tagging_tags thumbnail pymorphy_tags %}
{% load sekizai_tags hitcount_tags comments %}


{% block page_title %}FAQ - Часто задаваемые вопросы по созданию сайта на sclubs.ru{% endblock %}

{% block page_description %}FAQ - Часто задаваемые вопросы по созданию сайта на sclubs.ru{% endblock %}

{% block page_keywords %}FAQ - Часто задаваемые вопросы по созданию сайта на sclubs.ru{% endblock %}

{% block  breadcrumbs %}
    <h1>FAQ</h1>
{% endblock %}


{% block content %}

<div class="main-content article-text">
    <h1>Часто задаваемые вопросы</h1>
    <div class="faq">
        {% for faq in faq_list %}
            <div class="question">{{forloop.counter}}. {{faq.question}}</div>
            <div class="answer">{{faq.answer|safe}}</div>
        {% endfor %}
    </div>

</div>
{% endblock %}



