
{% extends "designer/base.html" %}

{% load widget_tweaks %}
{% load sekizai_tags   %}


{% block page_title %}Форма обратной связи{% endblock %}

{% block page_description %}Форма обратной связи{% endblock %}

{% block page_keywords %}Форма обратной связи{% endblock %}

{% block  breadcrumbs %}
    <h1>Форма обратной связи</h1>
{% endblock %}


{% block content %}

<div class="main-content article-text">

<h1>Задайте нам вопрос</h1>

    <form action="" method="post" class="create-club-form">{%csrf_token%}
        <table>
            <tr>
                <td>{{ form.name|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Ваше имя" }}</td>
            </tr>
            <tr>
                <td>{{ form.email|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:E-mail" }}</td>
            </tr>
            <tr>
                <td>{{ form.subject|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Тема сообщения" }}</td>
            </tr>            
            <tr>
                <td>{{ form.body|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Сообщение" }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.captcha|add_class:"field-form"|add_error_class:"errordata" }}
                    <button type="submit" class="create-event-button">Отправить</button>
                </td>
            </tr>
        </table>

</div>
{% endblock %}


