
{% extends "designer/base.html" %}

{% load tagging_tags thumbnail pymorphy_tags %}
{% load sekizai_tags hitcount_tags comments %}


{% block page_title %}Создание сайта клуба {% endblock %}

{% block page_description %}Создание сайта клуба{% endblock %}

{% block page_keywords %}Создание сайта клуба{% endblock %}

{% block  breadcrumbs %}
    <h1>Создать сайт бесплатно</h1>
{% endblock %}


{% block content %}

<div class="main-content article-text">
<div class="landing-page">    
Мы предлагаем создать сайт бесплатно с помощью нашего конструктора спортивных сайтов.
Чем мы отличаемся от других подобных сервисов:
<ul>
    <li>наши шаблоны заточены под спортивные клубы</li>
    <li>мы имеем много стандартных модулей для спортивного сайта</li>
    <li>очень просто создать сайт бесплатно</li>
    <li>самый простой интерфейс администрирования</li>
    <li>аптайм серверов 100%</li>
    <li>профессиональная и быстрая техническая помощь</li>    
</ul>

<div class="create-button">
    <a href="{% url designer:create %}"><img src="{{MEDIA_URL}}/img/create-site-button.png"></a>
</div>
У нас вы можете очень просто создать расписание для учебных групп, фотоальбом, список тренеров с описанием, вести новости, разместить контакты.<br>
Ваша спортивная секция автоматом попадает в наш каталог спортивных школ и клубов. Вам будет проще набрать учебные группы и делиться новостями с воспитанниками и родителями.
</div>
<h1>Лучшие сайты созданные с помощью нашего конструтора:</h1>

<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</div>
{% endblock %}


