
{% extends "designer/base.html" %}

{% load tagging_tags thumbnail pymorphy_tags %}
{% load sekizai_tags hitcount_tags comments %}


{% block page_title %}Сайты на конструкторе sclubs.ru{% endblock %}

{% block page_description %}Сайты на конструкторе sclubs.ru{% endblock %}

{% block page_keywords %}Сайты на конструкторе sclubs.ru{% endblock %}

{% block  breadcrumbs %}
    <h1>Сайты созданные нашим конструктором</h1>
{% endblock %}


{% block content %}

<div class="main-content ">


{% for sportsite in sportsite_list %}
    <div class="wrap-news{% if forloop.last %} list-last{% endif %}">
        <table>
            <tr>
                <td class="col1">
                    <div class="td-img">
                        {% thumbnail sportsite.template.full_size_preview "140x100" crop="center" as im %}
                            <img src="{{im.url}}" alt="{{sportsite.title}}">
                        {% endthumbnail %}
                    </div>
                </td>
                <td>
                    <h1><a href="#">{{ sportsite.title }}</a></h1>
                    <div class="info">
                        <span class="tags tag-info">{% for sport in sportsite.sports.all %}<a href="{% url filters:tagged-clubs %}?{{ sport.tag.id }}=on">{{sport.tag}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                        </span>
                    </div>
                    <div class="text-news">
                        <div class="article-contacts">
                            <strong>Адрес: </strong> {{ sportsite.city }}, {{ sportsite.address }}.{% if sportsite.phones %} <strong>тел. {{ sportsite.phones }}{% endif %}</strong>
                        </div>
                        <div class="article-site">
                            <strong>Сайт: </strong> <noindex><a target="__blank" href="http://{{ sportsite.url }}.sclubs.ru" rel="nofollow">{{ sportsite.url }}.sclubs.ru</a></noindex>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endfor %}

</div>
{% endblock %}






