
{% extends "designer/base.html" %}

{% load tagging_tags thumbnail pymorphy_tags %}
{% load sekizai_tags hitcount_tags comments %}


{% block page_title %}Создание сайта клуба {{ request.GET.domain }}.newsclubs.ru {% endblock %}

{% block page_description %}Создание сайта клуба {{ request.GET.domain }}.newsclubs.ru{% endblock %}

{% block page_keywords %}Создание сайта клуба {{ request.GET.domain }}.newsclubs.ru{% endblock %}

{% block  breadcrumbs %}
    <h1>Сайт - {{ request.GET.title }}</h1>
{% endblock %}


{% block content %}

{% if request.GET.task %}
<script type="text/javascript">
    $(document).ready(function(){
        

   //цитаты
    var timeout = 2000 //2 sec
    function create_club(){
        var intervalID = setInterval(function()
        {

        $.ajax({
            url: '{% url celery-is_task_successful  request.GET.task %}',             
            dataType : "json",  
            beforeSend: function(){
                $("#progress").html("Пожалуйста подождите, идёт создание сайта - это может занять пару минут!<br><img src='{{MEDIA_URL}}img/progress.gif'>");
            },
            success: function (json) { 
                        if (json.task.executed)
                        {

                            $("#progress").html("");
                            $("#progress").html("Готово!<br><a id='go-to-site' href='http://{{request.GET.domain}}.newsclubs.ru'>Перейти на сайт клуба</a>");
                            clearInterval(intervalID)
                        }
                }
        });


       }, timeout);
    }

    create_club()


    })
</script>
{% endif %}
<div class="main-content article-text club-detail">
<div id="progress"></div>
</div>
{% endblock %}





{% block navigation %}
{% if club.related_clubs %}
<div class="navigation">
    
    
    <div class="head-nav article-head-nav">
        
        Похожие клубы в {{ club.city|inflect:"пр" }}
    </div>
    <div class="content-nav">
        {% if club.related_clubs.count > 8 %}
        <div class="all-events">
            <a href="{% url clubs:related-clubs pk=club.pk %}">Все похожие клубы</a> <span>({{ club.related_clubs.count }})</span>
        </div>
        {% endif %}
        
        {% for related_club in club.related_clubs|slice:":8" %}
                <div class="paddin-content-nav">
                    <div class="wrap-content-nav">
                        <table>
                            <tr>
                                <td class="img-nav">
                                   
                                </td>
                                <td>
                                    <div class="text-nav">
                                        <a href="{{ related_club.get_absolute_url }}">{{ related_club.title }}</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% else %}
    {{ block.super }}
{% endif %}

{% endblock %}


