{% extends "designer/base.html" %}

{% load tagging_tags menu_tags thumbnail %}
{% load sekizai_tags widget_tweaks %}

{% block page_title %}Добавление спортивного клуба в каталог{% endblock %}

{% block page_description %}Здесь можно добавить спортивный клуб в каталог с фильтром по городам и видам спорта{% endblock %}

{% block page_keywords %}Спортивные клубы, каталог спортивных секций, добавление секции{% endblock %}


{% block  breadcrumbs %}
    <h1>Создание сайта для спорт-клуба</h1>
{% endblock %}



{% block content %}

<div class="form-description">
Создание сайта
</div>

	<form action="" method="post" class="create-club-form">{%csrf_token%}
		<table>
			<tr>
				<td>{{ form.sports|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Вид спорта" }}</td>
			</tr>
			<tr>
				<td>
					Выберите шаблон:

                        {{ form.template }}

				</td>
			</tr>
			<tr>
				<td>{{ form.url|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Адрес сайта" }} .sclubs.ru </td>
			</tr>
				<td>  </td>
			</tr>
			<tr>
				<td>{{ form.email|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Email для входа" }}</td>
			</tr>
			<tr>
				<td>{{ form.password|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Пароль" }}</td>
			</tr>
			<tr>
				<td>
		            {{ form.captcha|add_class:"field-form"|add_error_class:"errordata" }}
		            <button type="submit" class="create-event-button">Добавить</button>
				</td>
				<td></td>
			</tr>
		</table>


	</form>

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}css/fcbkinput.css"> 
    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}css/highslide.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}css/highslide-ie6.css">   
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.fcbkcomplete.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/highslide-full.js"></script>    
    <script>
        $(document).ready(function(){
         $("#id_{{ form.city.html_name }}").fcbkcomplete({
            json_url:'{% url get-city-list %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 1,
            complete_text:"Введите название города",
            });
           
         $("#id_{{ form.sports.html_name }}").fcbkcomplete({
            json_url:'{% url get-sport-list %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 100,
            complete_text:"Введите вид спорта",
            });
    
       });
   </script>
{% endaddtoblock %}



{% endblock %}

