{% load thumbnail %}

<div class="site-templates">
	<a href="#" class="rew-template"></a>
	<input name="{{name}}" type="hidden" id="select-template" value="{{value}}">

	{% for templates in templates_list %}
	<table class="template-list {%if forloop.first%}template-list-curr{% endif %}">
		<tr>
			{% for template in templates|slice:":4" %}
			<td>
				<div class="wrap-prew-template">
					<div class="prew-template">
						{% thumbnail template.preview "100x100" crop="center" as im %}
						<a class="thumb highslide" onclick="return hs.expand(this)" href="{{template.preview.url}}" style="display:block;">
                            <img src="{{im.url}}" alt="" style="border:none;">
                        </a>
						{% endthumbnail %}
					</div>
					<div class="wrap-a-select">
						<a href="" class="select-template" id="{{template.pk}}">Выбрать</a>
					</div>
				</div>
			</td>
			{% endfor %}
		</tr>

		<tr>
			{% for template in templates|slice:"4:" %}
			<td>
				<div class="wrap-prew-template">
					<div class="prew-template">
						{% thumbnail template.preview "100x100" crop="center" as im %}
						<a class="thumb highslide" onclick="return hs.expand(this)" href="{{template.preview.url}}" style="display:block;">
                            <img src="{{im.url}}" alt="" style="border:none;">
                        </a>
						{% endthumbnail %}
					</div>
					<div class="wrap-a-select">
						<a href="" class="select-template" id="{{template.pk}}">Выбрать</a>
					</div>
				</div>
			</td>
			{% endfor %}
		</tr>

	</table>
	{% endfor %}

</div>