<div class="select-city-window">
	<form action="{#% url "geoip_change_location" %#}" method="post"> {% csrf_token %}
		<input name="next" type="hidden" value="" />
		<input name="location" type="hidden" value="3017">
		<select name="location_id" id="location_id"></select>
		
		<a id="all-city"  href="#">Выбрать все города</a>
	</form>      
</div>	