{% extends "base.html" %}
{% load cms_tags %}


{% block content %}
    {% for child in current_page.children.published %}
    <div class="news">
        <table>
            <tr>
                <td>
                <div class="image-wpap">
                    <div class="image"><img src="">
                    </div>
                </div></td>
                <td>
                <div class="text">
                    <h1>{% page_attribute "title" child %}</h1>
                    <div class="info">
                        <span class="date">{{child.publication_date}}</span><span class="comment"><a href="#">12 комментариев</a></span>
                    </div>
                    <div class="text-news">
                        {% show_placeholder "description" child %}<a class="more" href="{% page_url child %}">подробнее</a>
                    </div> 
                </div></td>
            </tr>
        </table>
    </div>
    {% empty %}
    <div class="content-text">
                        <h1>{% page_attribute "title" %}</h1>
    {% placeholder image %}
    {% placeholder text %}
    {% if 0 %}
        {% placeholder description %}
    {% endif %}
    </div>
    {% endfor %}

{% endblock %}
