{% load sekizai_tags %}
{% load menu_tags cms_tags %}


<!DOCTYPE html>

<html lang="ru" id="sclubs">
	<head>
	    <meta charset="utf8">
	    {% render_block "css" %}
	    {% render_block "js" %}
	    
	    {% addtoblock "css" %}
    	    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}templates/football/reset.css">
    	    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}templates/sites_style.css">
    	    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}templates/football/football_style.css">
            <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}templates/football/highslide.css">
            <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}templates/football/highslide-ie6.css">
        {% endaddtoblock %}
        
        {% addtoblock "js" %}

            <script type="text/javascript" src="{{MEDIA_URL}}templates/football/highslide-full.js"></script>      
    	    <script type="text/javascript" src="{{MEDIA_URL}}templates/football/football_script.js"></script>
	    {% endaddtoblock %}
	    
	    {% block meta %}
    	    <title>{% page_attribute "page_title" %}</title>
    	    <meta name="description" content="">
        	<meta name="keywords" content="">
        {% endblock meta  %}
	</head>

<body>
    <div class="main">
        <div class="head">
            <div class="top-menu">
                <a class="onmain" href="/">На главную</a>
                <a class="enter" href="#">Войти</a>
                <a class="chiose-club" href="#">Выбор клуба</a>
            </div>
            {% block logo %}
            <div class="logo">
                <div class="title">
                    <span class="title1">{% show_placeholder "title_on_head" "index" %}</span><br>
                    <span class="title2">{% show_placeholder "description_on_head" "index" %}</span>
                </div>
                <div class="logo-club"></div>
            </div>
            {% endblock %}
        </div>
        <div class="container">
        	<div class="sidebar">
        		{% block left_menu %}
        		  {% show_menu %}
                {% endblock left_menu %}
                <div class="send-friends">
                    Рассказать друзьям
                </div>
        	</div>
            <div class="wrap-content">
                <div class="content fixheight">
                    {% block content %}
                    
                    {% endblock content %}
                </div>
            </div>
        </div>
        <footer>
            <span class="copyright">
                2010-2012 (c)
            </span>
            <a href="#">Сайт федерации</a>
        </footer>
    </div>
</body>
</html>
