{% extends "base.html" %}

{% load cms_tags %}

{% block logo %}
    <div class="logo">
        <div class="title">
            <span class="title1">{% placeholder title_on_head %}</span><br>
            <span class="title2">{% placeholder description_on_head %}</span>
        </div>
        <div class="logo-club"></div>
    </div>
{% endblock %}

{% block content %}
<div class="content-text">
    <h1>{% page_attribute "title" %}</h1>
    {% placeholder text %}
</div>
{% endblock content %}