{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td colspan="2"><h4>Страницы</h4></td>
                </tr>
                <tr>
                    <td>Всего</td> <td>{{module.pages_count}}</td>
                </tr>
                <tr>
                    <td>Опубликовано</td> <td>{{module.published_count}}</td>
                </tr>
            </table>
        </td> 
    </tr>
</table>        
{% endblock %}
