{% extends "base.html" %}

{% load tagging_tags %}
{% load sekizai_tags hitcount_tags %}

{% block page_title %} {{ rule.meta_title|default:rule.title }} {% endblock %}

{% block page_description %}{{ rule.meta_description }}{% endblock %}

{% block page_keywords %} {{ rule.meta_keywords }} {% endblock %}

{% block  breadcrumbs %}
    <h1>{{ rule.title }}</h1>
{% endblock %}


{% block content %}
    
    {# Enable hit counting #}
    {% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% get_hit_count_javascript for rule %}
        });
    </script>
    {% endaddtoblock %}
    {% csrf_token %}
    
<div class="main-content article-text">

    <h1>Содержание</h1>
    <div class="info">
        {% tags_for_object rule as tag_list %}
        {% if tag_list %}
        <span class="tags">
            {% for tag in tag_list %}
                <a href="/tag/all/{{tag}}">{{tag}}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
        </div>
    <div class="article-content">
        
        <ul class="head-list">
        {% for head in rule_list %}
            <li>{% if not head.body %}
                    {{ head.title }}
                {% else %}
                    Статья {{forloop.counter}} <a href="{{ head.get_absolute_url }}">{{ head.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}





