{% load tagging_tags thumbnail %}

<div class="wrap-news{% if forloop.last %} list-last{% endif %}">
    <table>
        <tr>
            <td>
               {% if rule.image %}
                <div class="td-img">
                    {% thumbnail rule.image "140x100" crop="center" as im %}
                        <img src="{{im.url}}" alt="{{rule.title}}">
                    {% endthumbnail %}
                </div>
                {% endif %}
            </td>
            <td>
                <h1><a href="{{ rule.get_absolute_url }}">{{ rule.title }}</a></h1>
                <div class="info">
                    {% tags_for_object rule as tag_list %}
                    {% if tag_list %} 
                    <span class="tags">
                        {% for tag in tag_list %}
                            <a href="{% url "filters:tagged-rules" %}?{{ tag.id }}=on">{{tag}}</a>{% if not forloop.last %}, {% endif %}
                                    
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
                <div class="text-news">
                    {{ rule.description|default:rule.body|truncatewords_html:23|removetags:"b span strong"|safe }}
                </div>
            </td>
        </tr>
    </table>
</div>