{% extends "accounts/profile.html" %}

{% load thumbnail %}

{% block meta %}
    <title>{{ profile_owner }}Спортивные клубы </title>
    <meta name="description" content="Спортивные клубы">
    <meta name="keywords" content="Спортивные клубы">
{% endblock %}


{% block  breadcrumbs %}
    <span>Клубы</span>
{% endblock %}


{% block content %}
{% for club in profile_owner.clubs.all %}
    {% include "clubs/club_include.html" %}
{% endfor %}
{% endblock %}