{% extends "accounts/profile.html" %}

{% load tagging_tags thumbnail %}

{% block page_title %}Мои события{% endblock %}
{% block page_description %}Мои события{% endblock %}
{% block page_keywords %}Мои события{% endblock %}


{% block  breadcrumbs %}
    <span>Мои события</span>
{% endblock %}


{% block content %}
{% for event in user.events.all %}
    <div class="wrap-news{% if forloop.last %} list-last{% endif %}">
        <table>
            <tr>
                <td>
                   {% if event.logo %}
                    <div class="td-img">
                        {% thumbnail event.logo "140x100" crop="center" as im %}
                            <img src="{{im.url}}" alt="{{event.title}}">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                </td>
                <td>
                    <h1><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h1>
                    <div class="info">
                        <a href="#" class="date">{{ event.date }}</a>
                        <span class="tags tag-info">
                            <a href="{% url "filters:tagged-events" %}?city={{ event.city.id }}">{{event.city}}</a>,
                            <a href="{% url "filters:tagged-events" %}?{{ event.sport.tag.id }}=on">{{event.sport.tag}}</a>
                        </span>
                        
                    </div>
                    <div class="text-news">
                        {{ event.city }}, {{ event.address }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endfor %}
{% endblock %}