{% load widget_tweaks %}

<div class="login-wrap">
    <table>
        <tr>
            <td>
                <form class="login-form" action="{% url "accounts:login" %}?next={{ request.GET.next }}" method="POST"> {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.email|append_attr:"placeholder:E-mail"|add_class:"field-form"|add_error_class:"errordata" }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password|append_attr:"placeholder:Пароль"|add_class:"field-form"|add_error_class:"errordata" }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.register|append_attr:"id:no-register"|add_error_class:"errordata" }}
                            <label for="no-register">
                                {% comment %}
                                <span>
                                    <img src="{{STATIC_URL}}img/checked.png">
                                </span>  
                                {% endcomment %}                            
                                Я ещё не зарегистрирован
                            </label>
                        </td>
                    </tr>
                    <tr id="tr-captcha">
                        <td>{{ form.captcha|add_class:"field-form"|add_error_class:"errordata" }}</td>
                    </tr>
                    {% if form.non_field_errors %}
                    <tr>
                        <td><span class="error-form">{{form.non_field_errors.0|safe}}</span></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><button type="submit" id="login-button">Войти</button></td>
                    </tr>
                </table>
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                </form>
            </td>
            <td>
                <a class="soc-auth" id="vk-auth" href="{% url 'accounts:socialauth_begin' 'vk-oauth' %}?next={{ request.GET.next }}"><img src="{{STATIC_URL}}img/vk.png" alt=""></a>
                <a class="soc-auth" id="fb-auth" href="{% url 'accounts:socialauth_begin' 'facebook' %}?next={{ request.GET.next }}"><img src="{{STATIC_URL}}img/fb.png" alt=""></a>
                <a class="soc-auth" id="ya-auth" href="{% url 'accounts:socialauth_begin' 'yandex' %}?next={{ request.GET.next }}"><img src="{{STATIC_URL}}img/ya.png" alt=""></a>
                <a class="soc-auth" id="tw-auth" href="{% url 'accounts:socialauth_begin' 'twitter' %}?next={{ request.GET.next }}"><img src="{{STATIC_URL}}img/tw.png" alt=""></a>
            </td>
        </tr>
    </table>
</div>
