{% extends "base.html" %}


{% block page_title %}О проекте sclubs.ru{% endblock %}

{% block page_description %}Что такое sclubs.ru цели и досижения проекта.{% endblock %}

{% block page_keywords %}сайт sclubs.ru, что такое sclubs.ru, о проекте sclubs.ru, склабс{% endblock %}

{% block  breadcrumbs %}
    <span>Войти или зарегистрироваться</span>
{% endblock %}

{% block singin %}
    {% if request.user.is_authenticated %}
        <a href="{% url "accounts:profile" pk=request.user.pk %}">{{ request.user.username }}</a>
        <a href="{% url "accounts:logout" %}?next={{ request.get_full_path }}">Выйти</a>
    {% else %}
        <a href="{% url "accounts:login" %}?next={{ request.get_full_path }}">Войти</a>
    {% endif %}
{% endblock %}

{% block content %}
	{% include "accounts/include_login_form.html" %}
{% endblock %}