{% extends "accounts/profile.html" %}

{% load comments tagging_tags thumbnail widget_tweaks sekizai_tags %}

{% block page_title %}Мои настройки{% endblock %}
{% block page_description %}Мои настройки{% endblock %}
{% block page_keywords %}Мои настройки{% endblock %}


{% block  breadcrumbs %}
    <span>Мои настройки</span>
{% endblock %}


{% block content %}

<div class="main-content article-text table-as-one-column">
    <h1>Личные данные</h1>
    <form action="" method="post">{% csrf_token %}
        <table>
            <tr>
                <td>{{ form_data.first_name|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Имя" }}</td>
            </tr>
            <tr>
                <td>{{ form_data.last_name|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Фамилия" }}</td>
            </tr>
            <tr>
                <td>
                    <button name="change_personal_data" type="submit" value="change_personal_data">Изменить</button>
                </td>
            </tr>
        </table>    
    </form>

    <h1>Сменить e-mail</h1>
    <form action="" method="post">{% csrf_token %}
        <table>
            <tr>
                <td>{{ form_email.email|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Новый e-mail" }}</td>
            </tr>
            <tr>
                <td><input name="{{ form_email.password.html_name }}" class="field-form {% if form_email.password.errors %}errordata{% endif %}" type="text" placeholder="Пароль"></td>
            </tr>
            <tr>
                <td>
                    <button name="change_email" type="submit" value="change_email">Сохранить</button>
                </td>
            </tr>
        </table>    
    </form>

    <h1>Сменить пароль</h1>
    <form action="" method="post">{% csrf_token %}
        <table>
            <tr>
                <td><input name="{{ form_password.password.html_name }}" class="field-form {% if form_password.password.errors %}errordata{% endif %}" type="text" placeholder="Текущий пароль"></td>
            </tr>
            <tr>
                <td><input name="{{ form_password.new_password.html_name }}" class="field-form {% if form_password.new_password.errors %}errordata{% endif %}" type="text" placeholder="Новый пароль"></td>
            </tr>
            <tr>
                <td>
                    <button name="change_password" type="submit" value="change_password">Сохранить</button>
                </td>
            </tr>
        </table>     
    </form>
    {% if form_password.is_bound and not form_password.errors  %}
        <span class="noerror-form">Пароль успешно изменён</span>
    {% endif %}

    <h1>Настройки ленты</h1>
    <form action="" method="post">{% csrf_token %}
        <table>
            <tr>
                <td>{{ form_feed_settings.sports|add_class:"field-form"|add_error_class:"errordata"|attr:"placeholder:Вид спорта" }}</td>
            </tr>
            <tr>
                <td>
                    <button name="change_feed_settings" type="submit" value="change_feed_settings">Сохранить</button>
                </td>
            </tr>
        </table>     
    </form>

</div>

{% addtoblock "js" %}
    <script>
        $(document).ready(function(){
         $("#id_{{ form_feed_settings.city.html_name }}").fcbkcomplete({
            json_url:'{% url "get-city-list" %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 1,
            complete_text:"Введите название города",
            });
           
         $("#id_{{ form_feed_settings.sports.html_name }}").fcbkcomplete({
            json_url:'{% url "get-sport-list" %}',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            bricket: false,
            maxitems: 100,
            complete_text:"Введите вид спорта",
            });
    
       });
   </script>
{% endaddtoblock %}

{% endblock %}