<div class="content-nav">
    <div class="paddin-content-nav">
        <div class="wrap-content-nav">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            {% if can_edit %}
                            <a class="add-item-nav" href="{% url "clubs:create" %}">Добавить</a>
                            {% endif %}
                            <a href="{% url "accounts:clubs" pk=profile_owner.pk %}">Клубы</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paddin-content-nav">
        <div class="wrap-content-nav">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            <a class="add-item-nav" href="{#% url "events:event-create" %#}">Добавить</a>
                            <a href="{#% url "accounts:events" pk=user.pk %#}">Мои события</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paddin-content-nav">
        <div class="wrap-content-nav">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            <a class="add-item-nav" href="{#% url "news:create" %#}">Добавить</a>
                            <a href="{#% url "accounts:news" pk=user.pk %#}">Мои новости</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paddin-content-nav">
        <div class="wrap-content-nav list-last">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            <a href="{#% url "accounts:settings" pk=user.pk %#}">Мои настройки</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% comment %}
    <div class="paddin-content-nav">
        <div class="wrap-content-nav list-last">
            <table>
                <tr>
                    <td class="img-nav">
                    </td>
                    <td>
                        <div class="text-nav">
                            <a href="{% url "accounts:mail" pk=user.pk %}">Личные сообщения <strong>(1)</strong></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endcomment %}


</div>