{% extends "filters/tagged_objects_base.html" %}
{% load tagging_tags thumbnail pymorphy_tags %}

{% block page_title %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Соревнования по {{tags.0|inflect:"дт"}}
        {% else %}
            Спортивные события с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Спортивные события выбранных видов спорта
    {% else %}
        Спортивные события в {{ city|inflect:"пр" }}
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Соревнования по {{tags.0|inflect:"дт"}}
        {% else %}
            Спортивные события с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Спортивные события выбранных видов спорта
    {% else %}
        Спортивные события в {{ city|inflect:"пр" }}
    {% endif %}
{% endblock %}

{% block page_keywords %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Соревнования по {{tags.0|inflect:"дт"}}
        {% else %}
            Спортивные события с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Спортивные события выбранных видов спорта
    {% else %}
        Спортивные события в {{ city|inflect:"пр" }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}

    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            <h1>Соревнования по {{tags.0|inflect:"дт"}}</h1>
        {% else %}
           <h1>Спортивные события с тегом {{tags.0}}</h1>
        {% endif %}
    {% elif tags %}
        <h1>Спортивные события выбранных видов спорта</h1>
    {% else %}
        <h1>Спортивные события в {{ city|inflect:"пр" }}</h1>
    {% endif %}


{% endblock %}


{% block content %}
<div class="main-content">
    {% for event in event_list %}
    <div class="wrap-news{% if forloop.last %} list-last{% endif %}">
        <table>
            <tr>
                <td>
                   {% if event.logo %}
                    <div class="td-img">
                        {% thumbnail event.logo "140x100" crop="center" as im %}
                            <img src="{{im.url}}" alt="{{event.title}}">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                </td>
                <td>
                    <h1><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h1>
                    <div class="info">
                        <a href="#" class="date">{{ event.date }}</a>
                        <span class="tags tag-info">
                                <a href="{% url "filters:tagged-events" %}?city={{ event.city.id }}">{{event.city}}</a>,
                                <a href="{% url "filters:tagged-events" %}?{{ event.sport.tag.id }}=on">{{event.sport.tag}}</a>
                        </span>
                        
                    </div>
                    <div class="text-news">
                        {{ event.city }}, {{ event.address }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}