{% extends "filters/tagged_objects_base.html" %}
{% load pymorphy_tags %}

{% block page_title %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Правила {{tags.0|inflect:"рд"}}
        {% else %}
           Правила с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Правила выбранных видов спорта
    {% endif %}
{% endblock %}

{% block page_description %}Правила с тегом {{tag}}{% endblock %}

{% block page_keywords %}Правила с тегом {{tag}}{% endblock %}

{% block breadcrumbs %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            <h1>Правила {{tags.0|inflect:"рд"}}</h1>
        {% else %}
           <h1>Правила с тегом {{tags.0}}</h1>
        {% endif %}
    {% elif tags %}
        <h1>Правила выбранных видов спорта</h1>
    {% endif %}
{% endblock %}


{% block content %}
    {% include "rules/include_list.html" %}
{% endblock %}
