{% extends "filters/tagged_objects_base.html" %}

{% load pymorphy_tags %}

{% block page_title %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Новости {{tags.0|inflect:"рд"}}
        {% else %}
            Новости с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Новости выбранных видов спорта
    {% else %}
    Новости {{city|inflect:"рд"}}
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Новости {{tags.0|inflect:"рд"}}
        {% else %}
            Новости с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Новости выбранных видов спорта
    {% else %}
    Новости {{city|inflect:"рд"}}
    {% endif %}
{% endblock %}

{% block page_keywords %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Новости {{tags.0|inflect:"рд"}}
        {% else %}
            Новости с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Новости выбранных видов спорта
    {% else %}
        Новости {{city|inflect:"рд"}}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            <h1>Новости {{tags.0|inflect:"рд"}}</h1>
        {% else %}
            <h1>Новости с тегом {{tags.0}}</h1>
        {% endif %}
    {% elif tags %}
        <h1>Новости выбранных видов спорта</h1>
    {% else %}
    <h1>Новости {{city|inflect:"рд"}}</h1>
    {% endif %}
{% endblock %}


{% block content %}
    {% include "news/entry_list.html" %}
{% endblock %}



