{% extends "filters/tagged_objects_base.html" %}

{% load tagging_tags thumbnail pymorphy_tags %}

{% block page_title %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Спортивные школы, секции, клубы {{tags.0|inflect:"рд"}}
        {% else %}
           Спортивные школы и секции с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Спортивные школы и секции выбранных видов спорта
    {% else %}
    Спортивные школы и секции в {{ city|inflect:"пр" }}
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Спортивные школы секции и клубы {{tags.0|inflect:"рд"}}
        {% else %}
           Спортивные школы и секции с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Спортивные школы и секции выбранных видов спорта
    {% else %}
        Спортивные школы и секции в {{ city|inflect:"пр" }}
    {% endif %}
{% endblock %}

{% block page_keywords %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Спортивные школы секции клубы {{tags.0|inflect:"рд"}}
        {% else %}
           Спортивные школы и секции с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Спортивные школы и секции выбранных видов спорта
    {% else %}
        Спортивные школы и секции в {{ city|inflect:"пр" }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            {% if city %}
                <h1>Спортивные клубы {{tags.0|inflect:"рд"}} в {{ city|inflect:"пр" }}</h1>
            {% else %}
                <h1>Спортивные школы и секции {{tags.0|inflect:"рд"}}</h1>
            {% endif %}
        {% else %}
           <h1>Спортивные школы и секции с тегом {{tags.0}}</h1>
        {% endif %}
    {% elif tags %}
        <h1>Спортивные школы и секции выбранных видов спорта</h1>
    {% else %}
        <h1>Спортивные школы и секции в {{ city|inflect:"пр" }}</h1>
    {% endif %}
{% endblock %}


{% block content %}
    {% include "clubs/include_list.html" %}
{% endblock %}
