{% extends "filters/tagged_objects_base.html" %}

{% load thumbnail sekizai_tags pymorphy_tags%}

{% block page_title %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Фото и видео по {{tags.0|inflect:"дт"}}
        {% else %}
           Фото и видео с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Фото и видео по выбранным видам спорта
    {% else %}
        Фото и видео в {{ city|inflect:"пр" }}
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Фото и видео по {{tags.0|inflect:"дт"}}
        {% else %}
           Фото и видео с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Фото и видео по выбранным видам спорта
    {% else %}
        Фото и видео в {{ city|inflect:"пр" }}
    {% endif %}
{% endblock %}

{% block page_keywords %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Фото и видео по {{tags.0|inflect:"дт"}}
        {% else %}
           Фото и видео с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Фото и видео по выбранным видам спорта
    {% else %}
        Фото и видео в {{ city|inflect:"пр" }}    
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            <h1>Фото и видео по {{tags.0|inflect:"дт"}}</h1>
        {% else %}
           <h1>Фото и видео с тегом {{tags.0}}</h1>
        {% endif %}
    {% elif tags %}
        <h1>Фото и видео по выбранным видам спорта</h1>
    {% else %}
        <h1>Фото и видео в {{ city|inflect:"пр" }}</h1>
    {% endif %}
{% endblock %}

{% block content %}

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}css/highslide.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}css/highslide-ie6.css">
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/highslide-full.js"></script> 
{% endaddtoblock %}

<div class="main-content">
    <div class="media-content">
        <table>
            <tr>
            {% for item in item_list %}
            {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                <td>
                    <div class="wrap-media-img">
                        {% if item.image %}
                        <a class="thumb highslide" onclick="return hs.expand(this)" href="{{ item.image.url }}">
                            {% thumbnail item.image "180x130" crop="center" as im %}
                                <img src="{{im.url}}" alt="{{item.title|default:item.album.title}}">
                            {% endthumbnail %}
                        </a>
                        {% else %}
                        
                        <a  href="{{ item.get_absolute_url }}">
                            {% thumbnail item.preview "180x130" crop="center" as im %}
                                <img src="{{im.url}}" alt="{{item.title|default:item.album.title}}">
                            {% endthumbnail %}
                        </a>
                        {% endif %}
                        <div class="media-desc">
                            <a href="{{ item.get_absolute_url }}">{{ item.title|default:item.album.title }}</a>
                        </div>
                        <div class="media-icon"><img src="{{ MEDIA_URL }}img/{% if item.image %}photo{% else %}video{% endif %}-icon.png" alt=""></div>
                    </div>
                </td>
                
            {% if forloop.counter|divisibleby:"3" or forloop.last %}</tr>{% endif %}
            {% empty %}
                <td>Нет популярных файлов</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}