{% extends "base.html" %}

{% load pymorphy_tags %}

{% block filters %}
{% if tags %}
<div class="filter-tab">
    
    <div class="left-bg{% ifequal content "entry" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "entry" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "entry" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-news" %}?{% for tag in tags %}{{ tag.id }}=on{% if not forloop.last %}&{% endif %}{% endfor %}" id="fl-tab2">Новости</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal content "article" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "article" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "article" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-articles" %}?{% for tag in tags %}{{ tag.id }}=on{% if not forloop.last %}&{% endif %}{% endfor %}" id="fl-tab3">Статьи</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal content "event" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "event" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "event" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-events" %}?{% for tag in tags %}{{ tag.id }}=on{% if not forloop.last %}&{% endif %}{% endfor %}" id="fl-tab4">События</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal content "rule" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "rule" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "rule" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-rules" %}?{% for tag in tags %}{{ tag.id }}=on{% if not forloop.last %}&{% endif %}{% endfor %}" id="fl-tab4">Правила</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal content "media" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "media" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "media" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-media" %}?{% for tag in tags %}{{ tag.id }}=on{% if not forloop.last %}&{% endif %}{% endfor %}" id="fl-tab5">Медиа</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal content "club" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "club" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "club" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-clubs" %}?{% for tag in tags %}{{ tag.id }}=on{% if not forloop.last %}&{% endif %}{% endfor %}" id="fl-tab6">Клубы</a>
            </div>
        </div>
    </div>

</div>
{% else %}
<div class="filter-tab">
                    
    <div class="left-bg{% ifequal content "entry" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "entry" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "entry" %} bg-active{% endifequal %}">
                <a href="" id="fl-tab2">Новости</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal content "event" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "event" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "event" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-events" %}?city={{ city.id }}" id="fl-tab3">События</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal content "media" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "media" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "media" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-media" %}?city={{ city.id }}" id="fl-tab5">Медиа</a>
            </div>
        </div>
    </div>
    <div class="left-bg{% ifequal content "club" %} bg-active{% endifequal %}">
        <div class="right-bg{% ifequal content "club" %} bg-active{% endifequal %}">
            <div class="fl-tab center-bg{% ifequal content "club" %} bg-active{% endifequal %}">
                <a href="{% url "filters:tagged-clubs" %}?city={{ city.id }}" id="fl-tab6">Клубы</a>
            </div>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}

