{% extends "filters/tagged_objects_base.html" %}

{% load pymorphy_tags %}

{% block page_title %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Статьи о {{tags.0|inflect:"пр"}}
        {% else %}
            Статьи с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Статьи о выбранных видах спорта
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Статьи о {{tags.0|inflect:"пр"}}
        {% else %}
            Статьи с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Статьи о выбранных видах спорта
    {% endif %}
{% endblock %}

{% block page_keywords %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            Статьи о {{tags.0|inflect:"пр"}}
        {% else %}
            Статьи с тегом {{tags.0}}
        {% endif %}
    {% elif tags %}
        Статьи о выбранных видах спорта
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if tags.count == 1 %}
        {% if tags.0.sport %}
            <h1>Статьи о {{tags.0|inflect:"пр"}}</h1>
        {% else %}
            <h1>Статьи с тегом {{tags.0}}</h1>
        {% endif %}
    {% elif tags %}
        <h1>Статьи о выбранных видах спорта</h1>

    {% endif %}
{% endblock %}


{% block content %}
    {% include "articles/include_list.html" %}
{% endblock %}