{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td colspan="2"><h4>Новости</h4></td>
                </tr>
                <tr>
                    <td>Всего</td> <td>{{module.news_count}}</td>
                </tr>
                <tr>
                    <td>Просмотров</td> <td>{{module.news_hits}}</td>
                </tr>
            </table>
        </td> 
        <td>
            <table>
                <tr>
                    <td colspan="2"><h4>Статьи</h4></td>
                </tr>
                <tr>
                    <td>Всего</td> <td>{{module.articles_count}}</td>
                </tr>
                <tr>
                    <td>Опубликовано</td> <td>{{module.published_count}}</td>
                </tr>
                <tr>
                    <td>Просмотров</td> <td><strong>{{module.articles_hits}}</strong></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td colspan="2"><h4>Правила</h4></td>
                </tr>
                <tr>
                    <td>Правил</td> <td>{{module.rules_count}}</td>
                </tr>
                <tr>
                    <td>Статей</td> <td>{{module.head_count}}</td>
                </tr>
                <tr>
                    <td>Просмотров</td> <td>{{module.rules_hits}}</td>
                </tr>
            </table>
        </td> 
    </tr>
        <td>
            <table>
                <tr>
                    <td colspan="2"><h4>Клубы</h4></td>
                </tr>
                <tr>
                    <td>Всего</td> <td>{{module.clubs_count}}</td>
                </tr>
                <tr>
                    <td>Просмотров</td> <td>{{module.clubs_hits}}</td>
                </tr>
                <tr>
                    <td><a href="/admin/clubs/club/?moderate__exact=0">Непроверенных</a></td><td>{{ module.clubs_not_moderate }}</td>
                </tr>
            </table>
        </td> 
        <td>
            <table>
                <tr>
                    <td colspan="2"><h4>Комментарии</h4></td>
                </tr>
                <tr>
                    <td>Всего</td> <td>{{module.comments_count}}</td>
                </tr>
                
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td colspan="2"><h4>События</h4></td>
                </tr>
                <tr>
                    <td>Всего</td> <td>{{module.events_count}}</td>
                </tr>
                <tr>
                    <td>Просмотров</td> <td><strong>{{module.events_hits}}</strong></td>
                </tr>
                <tr>
                    <td><a href="/admin/events/event/?moderate__exact=0">Непроверенных</a></td><td>{{ module.events_not_moderate }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>        
{% endblock %}
