{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}


{% block title %}
    {% trans "Create album" %}
{% endblock %}

{% block imagestore-breadcrumb %}
    <li>
        {% if object %}
            {% trans "Edit album" %}: {{ object.name }}
        {% else %}
            {% trans "Create album" %}
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            {% trans "Edit album" %}: {{ object.name }}
        {% else %}
            {% trans "Create album" %}
        {% endif %}
    </h1>
    <form action="." method="post" class='album-form'>
    {% csrf_token %}
    Название альбома: {{ form.name }}
    <input type="hidden" value="0" name="order">
    <input type="hidden" value="True" name="is_public">
    <input type="submit" value="{% trans "Save" %}" class='btn success'>
    </form>
    <form action="/admin/gallery/album/{{object.id}}/delete/" method="post">{%csrf_token%}
        <input type="submit"  value="Удалить альбом">
    </form>
    
{% endblock content %}